.whiteBox1 {
  color: #000;
  background: #fff;
  border: none;
  border-bottom: none; }
  .whiteBox1::placeholder {
    color: #000; }

.partBox {
  position: relative; }

.bgImg > img {
  width: 100%; }

.pc_bg {
  display: block; }
  @media screen and (max-width: 820px) {
    .pc_bg {
      display: none !important; } }

.m_bg {
  display: none; }
  @media screen and (max-width: 820px) {
    .m_bg {
      display: block !important; } }

.banner {
  width: 100%;
  background: url(../../../image/project/cnwdw/hp/banner.jpg) no-repeat;
  background-size: cover;
  height: 940px;
  background-position: top;
  position: relative; }

.bannerSwiper {
  display: block; }
  @media screen and (max-width: 820px) {
    .bannerSwiper {
      display: none; } }

.partSwiper {
  width: 100%;
  height: 940px;
  position: relative; }

.swiper {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.swiper-slide {
  width: 100%;
  height: 100%;
  position: relative; }

.swiper-pagination {
  width: auto !important;
  bottom: 11% !important;
  left: 9% !important; }

.swiper-pagination-bullet-active {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #910000 !important; }

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 1 !important; }

.projectImgBox1 {
  width: 35%;
  position: absolute;
  bottom: 17%;
  right: 15%;
  z-index: 3;
  display: table-cell;
  text-align: center;
  vertical-align: middle; }
  .projectImgBox1 > .projectImg, .projectImgBox1 .projectImg_big {
    width: auto;
    vertical-align: middle; }
  @media screen and (max-height: 840px) {
    .projectImgBox1 {
      bottom: 10%; } }
  @media screen and (min-width: 2060px) {
    .projectImgBox1 {
      bottom: 31%; } }

.swiperTxtBox {
  position: absolute;
  top: 37%;
  left: 10%;
  display: flex;
  flex-direction: column;
  z-index: 3; }
  .swiperTxtBox > .title_big {
    margin-top: 3px; }
  @media screen and (max-width: 840px) {
    .swiperTxtBox {
      top: 13%; }
      .swiperTxtBox > .txt_title_en {
        font-size: 18px; }
      .swiperTxtBox > .txt_title_big {
        font-size: 32px; } }
  @media screen and (max-width: 380px) {
    .swiperTxtBox > .txt_title_big {
      font-size: 28px; } }

.subtitle_en {
  font-size: 25px;
  color: #676767;
  white-space: nowrap;
  margin-top: 28px; }
  @media screen and (max-width: 840px) {
    .subtitle_en {
      font-size: 16px;
      margin-top: 16px; } }

.redline_banner {
  width: 80px;
  height: 3px;
  background-color: #910000;
  margin-top: 18%; }
  @media screen and (max-width: 840px) {
    .redline_banner {
      width: 44px;
      height: 2px;
      margin-top: 46px; } }

.banner_tab {
  width: 44%;
  position: absolute;
  top: 56%;
  right: 10%;
  display: flex;
  align-items: center;
  z-index: 8; }
  .banner_tab > i {
    font-size: 34px;
    color: #282828;
    transition: all ease 0.3s; }
    .banner_tab > i:nth-child(2) {
      margin-left: auto; }
    .banner_tab > i:hover {
      cursor: pointer;
      color: #c20303; }

.btcjImgBox {
  width: 100%;
  position: relative;
  height: 766px; }
  @media screen and (max-width: 820px) {
    .btcjImgBox {
      height: auto;
      min-height: 500px; } }
  @media screen and (max-width: 414px) {
    .btcjImgBox {
      height: auto;
      min-height: 254px; } }
  @media screen and (max-width: 380px) {
    .btcjImgBox {
      height: auto;
      min-height: 230px; } }

.btcjTabBox {
  width: 100%;
  padding: 80px 0;
  background-color: #fff;
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 820px) {
    .btcjTabBox {
      display: none; } }

.btcjTabBox_m {
  width: 100%;
  padding: 57px 0 24px 0;
  background-color: #fff;
  display: none;
  justify-content: center; }
  @media screen and (max-width: 820px) {
    .btcjTabBox_m {
      display: flex; } }

.btcjTabContent {
  width: auto;
  display: flex;
  height: 80px;
  margin: 0 auto; }
  .btcjTabContent > div {
    height: 100%; }
  @media screen and (max-width: 820px) {
    .btcjTabContent {
      width: 80%;
      height: auto;
      flex-direction: column; }
      .btcjTabContent > div {
        height: auto; } }

.btcjTab_left {
  display: flex;
  flex-direction: column; }
  @media screen and (max-width: 820px) {
    .btcjTab_left > .txt_title1 {
      font-size: 22px; } }

.redLine_left {
  width: 80px;
  height: 3px;
  background-color: #910000;
  margin-top: auto; }
  @media screen and (max-width: 820px) {
    .redLine_left {
      width: 40px;
      height: 2px;
      margin-top: 20px; } }

.btcjTab_right {
  display: flex;
  margin-left: 96px;
  flex-wrap: wrap; }
  .btcjTab_right > div {
    width: 180px;
    height: 100%;
    border: 2px solid #000;
    margin-left: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    .btcjTab_right > div > .icon-bangongshebei {
      font-size: 26px; }
    .btcjTab_right > div > .icon-fangzi {
      font-size: 26px;
      margin-bottom: 6px; }
    .btcjTab_right > div > .icon-youting {
      font-size: 26px; }
    .btcjTab_right > div > .icon-taiyangneng {
      font-size: 37px; }
    .btcjTab_right > div > span {
      font-size: 18px;
      margin-left: 10px; }
  @media screen and (max-width: 820px) {
    .btcjTab_right {
      margin-left: 0;
      margin-top: 24px; }
      .btcjTab_right > div {
        width: 126px;
        height: 40px;
        margin-left: 0;
        border: 1px solid #000; }
        .btcjTab_right > div:nth-child(1) {
          margin-right: 20px; }
        .btcjTab_right > div:nth-child(2) {
          margin-right: 20px; }
        .btcjTab_right > div:nth-child(3) {
          margin-top: 0;
          margin-right: 20px; }
        .btcjTab_right > div > .icon-fangzi {
          font-size: 17px;
          margin-bottom: 4px; }
        .btcjTab_right > div > .icon-youting {
          font-size: 18px; }
        .btcjTab_right > div > .icon-16-yitijiguanli {
          font-size: 18px; }
        .btcjTab_right > div > .icon-bangongshebei {
          font-size: 18px; }
        .btcjTab_right > div > span {
          font-size: 12px; } }
  @media screen and (max-width: 414px) {
    .btcjTab_right {
      width: 100%;
      margin-left: 0;
      margin-top: 24px;
      display: -ms-grid;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 20px; }
      .btcjTab_right > div {
        width: auto;
        height: 40px;
        margin-right: 0; }
        .btcjTab_right > div:nth-child(1) {
          margin-right: 0; }
        .btcjTab_right > div:nth-child(2) {
          margin-right: 0; }
        .btcjTab_right > div:nth-child(3) {
          margin-top: 0;
          margin-right: 0; } }

.btcjItem:hover {
  cursor: pointer;
  border: 2px solid #c20000; }
  @media screen and (max-width: 820px) {
    .btcjItem:hover {
      border: 1px solid #c20000 !important; } }

.actBtcjItem {
  border: 2px solid #c20000 !important; }
  @media screen and (max-width: 820px) {
    .actBtcjItem {
      border: 1px solid #c20000 !important; } }

@media screen and (max-width: 820px) {
  .cpjxtBg > img {
    min-height: 706px;
    display: block; } }

@media screen and (max-width: 414px) {
  .cpjxtBg > img {
    min-height: 400px;
    display: block; } }

.cpjxtBox {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media screen and (max-width: 820px) {
    .cpjxtBox {
      width: 86%;
      height: auto;
      left: 50%;
      transform: translate(-50%, 0);
      top: 20%; } }
  @media screen and (max-width: 414px) {
    .cpjxtBox {
      top: 35%; } }

.cpjxt_img {
  position: relative; }

.cpjxt_txt {
  position: absolute;
  top: 6%;
  left: 4%;
  display: block; }
  @media screen and (max-width: 820px) {
    .cpjxt_txt {
      display: none; } }

.cpjxt_txt_m {
  position: absolute;
  left: 50%;
  top: 57px;
  transform: translate(-50%, 0);
  display: none;
  flex-direction: column;
  align-items: center; }
  .cpjxt_txt_m > .txt_title1 {
    font-size: 20px; }
  @media screen and (max-width: 820px) {
    .cpjxt_txt_m {
      display: flex; } }

.xlBox {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.xl_leftBox {
  width: 41.5%;
  min-height: 70%;
  position: absolute;
  left: 10%;
  top: 16%;
  background-color: #fff;
  z-index: 8; }
  @media screen and (max-width: 820px) {
    .xl_leftBox {
      display: none; } }

.left_msgBox {
  display: flex;
  flex-direction: column;
  margin-left: 15.5%;
  margin-top: 10.5%; }
  @media screen and (max-width: 820px) {
    .left_msgBox {
      width: 80%;
      margin: 0 auto; }
      .left_msgBox > .txt_title1 {
        font-size: 22px; } }

.left_msgBox_redline {
  width: 80px;
  height: 3px;
  background-color: #910000;
  margin-top: 35px; }
  @media screen and (max-width: 820px) {
    .left_msgBox_redline {
      width: 40px;
      height: 2px;
      margin-top: 18px; } }

.left_msgBox_canshuBox {
  margin-top: 46px;
  display: flex;
  flex-direction: column; }
  @media screen and (max-width: 820px) {
    .left_msgBox_canshuBox {
      margin-top: 18px; }
      .left_msgBox_canshuBox > div:nth-last-child(1) {
        margin-bottom: 0; } }

.switchBox {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 13%;
  left: 15.5%; }
  .switchBox > div {
    width: 58px;
    height: 58px;
    position: relative;
    background-color: whitesmoke;
    cursor: not-allowed; }
    .switchBox > div > i {
      font-size: 20px;
      position: absolute;
      left: 50%;
      top: 50%; }
    .switchBox > div:nth-child(1) {
      margin-right: 6px; }
      .switchBox > div:nth-child(1) > i {
        transform: translate(-34%, -50%); }
    .switchBox > div:nth-child(2) > i {
      transform: translate(-66%, -50%); }

.selectBox_m {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 40%;
  display: none;
  z-index: 5; }
  .selectBox_m > div {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: whitesmoke; }
    .selectBox_m > div > i {
      color: #000; }
  @media screen and (max-width: 820px) {
    .selectBox_m {
      display: block; } }

.switch_l_m {
  position: absolute;
  left: 0; }
  .switch_l_m > i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-34%, -50%); }

.switch_r_m {
  position: absolute;
  right: 0; }
  .switch_r_m > i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-66%, -50%); }

.actBox {
  cursor: pointer !important;
  background-color: #910000 !important; }
  .actBox > i {
    color: #fff !important; }

.canshuItem {
  margin-bottom: 22px; }
  .canshuItem > .canshu_title {
    font-size: 18px;
    font-weight: bold;
    color: #4d4d4d; }
  .canshuItem > .canshu_value {
    font-size: 18px;
    color: #666; }
  @media screen and (max-width: 820px) {
    .canshuItem {
      margin-bottom: 12px; }
      .canshuItem > .canshu_title {
        font-size: 12px; }
      .canshuItem > .canshu_value {
        font-size: 12px; } }

.xlImgBox {
  width: 35%;
  position: absolute;
  bottom: 23%;
  right: 10%;
  z-index: 3;
  display: table-cell;
  text-align: center;
  vertical-align: middle; }
  .xlImgBox > img {
    width: auto;
    vertical-align: middle; }
  @media screen and (max-width: 820px) {
    .xlImgBox {
      width: 34%;
      left: 50%;
      bottom: auto;
      top: 21%;
      transform: translate(-50%, 0); }
      .xlImgBox > .projectImg_big {
        max-height: 168px; } }
  @media screen and (max-width: 414px) {
    .xlImgBox {
      width: 44%;
      left: 50%;
      bottom: auto;
      top: 21%;
      transform: translate(-50%, 0); } }

.xlmsgBox_m {
  width: 100%;
  background-color: whitesmoke;
  display: none;
  padding: 38px 0 60px 0; }
  @media screen and (max-width: 820px) {
    .xlmsgBox_m {
      display: block; } }

#contactBox {
  padding-bottom: 120px;
  padding-top: 132px; }
  @media screen and (max-width: 820px) {
    #contactBox {
      padding-top: 57px;
      padding-bottom: 0px; } }
