<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<!-- <base href="http://127.0.0.1:8848/yiyuan/"> -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>储能一体机 | 一元电气科技有限公司</title>
		<meta name="description" content="一元科技集团是一家专业从事电源产品开发、生产、营销及服务的高新技术企业。目前公司拥有一元电气科技、浙江一元、温州一元进出口、丽水一元、深圳一元电气、深圳市一元科技、湖北一元科技等十大全资公司。主要生产经营稳压器（AVR）、逆变电源 （INV）、储能逆变一体机、储能变流器（PCS）、集装箱式储能柜、UPS不间断电源、EPS消防应急电源、风力光伏发电系统、变频器、MPPT太阳能控制器、调压器、变压器等系列产品。是国家高新技术企业、中国电气行业十大知名品牌，2017年度中国稳压器十大品牌 。" />
		<meta name="keywords" content="一元电气,一元电气官网,一元电气科技有限公司,一元科技集团官网,深圳一元,深圳一元电气,丽水一元,丽水一元电气,有源滤波器,静止无功发生器,混合型动态无功补偿装置,自动电压调节器,稳压器,储能一体机,储能系统,光储充,电池包,逆变器,太阳能控制器" />
		<link rel="shortcut icon" href="../../../static/favicon.ico" />
		<!-- 公样式 -->
		<link rel="stylesheet" type="text/css" href="../../../static/css/scrollbar.css" />
		<link rel="stylesheet" type="text/css" href="../../../static/css/public.css" />
		<link rel="stylesheet" type="text/css" href="../../../static/css/header.css" />
		<link rel="stylesheet" type="text/css" href="../../../static/css/footer.css" />
		<!-- 图标 -->
		<link rel="stylesheet" type="text/css" href="../../../static/css/iconfont.css" />
		<!-- 插件样式 -->
		<link rel="stylesheet" type="text/css" href="../../../plugins/animate.css/animate.min.css" />
		<link rel="stylesheet" type="text/css" href="../../../plugins/element-ui/index.css"/>
		<link rel="stylesheet" type="text/css" href="../../../plugins/swiper-5.4.5/package/css/swiper.min.css" />
		<!-- 页面样式 -->
		<link rel="stylesheet" type="text/css" href="../../../static/css/project/cnwdw/ess.css" />
		<script type="text/javascript">
			var level=2;
		</script>
	</head>
	<body>
		<!-- 头部开始 -->
		<yiy-header id="navHead"></yiy-header>
		<!-- 头部结束 -->
		<!-- 页面内容开始 -->
		<div id="appEss" class="content">
			<!-- banner -->
			<div class="partBox">
				<div class="bgImg">
					<img src="../../../static/image/project/cnwdw/ess/banner.jpg" class="pc_bg" alt="" />
					<img src="../../../static/image/project/cnwdw/ess/m/banner.jpg" class="m_bg" alt="" />
				</div>
				<div class="centerBox_ab">
					<div class="bannerTitle">
						<p class="title_en see_fadeInUp">YIY-ESS</p>
						<p class="title_big see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">储能一体机</p>
						<div class="lineBox">
							<div class=" see_fadeInRight" data-wow-duration="1s" data-wow-delay="0.4s">
								<i class="iconfont icon-sheji1"></i>
								<div class="lineBox_txtBox">
									<p>采用模块串联设计</p>
									<p>的储能系统</p>
								</div>
							</div>
							<div class=" see_fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
								<i class="iconfont icon-neizhi2"></i>
								<div class="lineBox_txtBox">
									<p>内置逆变器与</p>
									<p>MPPT太阳能控制器模块</p>
								</div>
							</div>
							<div class=" see_fadeInRight" data-wow-duration="1s" data-wow-delay="0.6s">
								<i class="iconfont icon-shiyongzhuanye"></i>
								<div class="lineBox_txtBox">
									<p>适合家庭和商业使用</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- banner结束 -->
			<!-- 模块化设计开始 -->
			<div class="partBox">
				<div class="bgImg mkhBg">
					<img src="../../../static/image/project/cnwdw/ess/bg1.jpg" class="blockImg" alt="">
				</div>
				<div class="centerBox_mkh">
					<div class="mkh_left">
						<p class="txt_title1 whiteTxt see_fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">模块化设计
						</p>
						<p class="txt_title1 whiteTxt see_fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s">
							灵活安装，即插即用</p>
						<div class="mkh_redline see_fadeInLeft" data-wow-duration="1s" data-wow-delay="0.8s"></div>
						<p class="txt_subtitle2 see_fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">MPPT</p>
						<p class="txt_subtitle2 see_fadeInLeft" data-wow-duration="1s" data-wow-delay="0.6s">电池包模块</p>
						<p class="txt_subtitle2 see_fadeInLeft" data-wow-duration="1s" data-wow-delay="0.7s">逆变器模块</p>
					</div>
					<div class="mkh_right see_fadeInRight" data-wow-duration="1s" data-wow-delay="0.4s">
						<img src="../../../static/image/project/cnwdw/ess/p1.png" alt="" class="blockImg">
						<img src="../../../static/image/project/cnwdw/ess/mppt.png" alt="" class="mkh_right_project">
					</div>
				</div>
			</div>
			<!-- 模块化设计结束 -->
			<!-- 多种运行模式开始 -->
			<div class="yxmsBox">
				<p class="txt_title1 see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">多种运行模式</p>
				<p class="txt_title2 see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">多种运行模式智能切换，节能的同时提高用电稳定性
				</p>
				<div class="redLine_normal see_fadeInUpLine" data-wow-duration="1s" data-wow-delay="0.5s"></div>
				<div class="yxmsBox_bottom">
					<div class="yxmsBox_bottom_left see_fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
						<p>白天（太阳能优先工作模式）</p>
						<img src="../../../static/image/project/cnwdw/ess/day.png" alt="">
					</div>
					<div class="yxmsBox_bottom_right see_fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
						<p class="whiteTxt">夜晚（电池优先工作模式）</p>
						<img src="../../../static/image/project/cnwdw/ess/night.png" alt="">
					</div>
				</div>
			</div>
			<!-- day开始 -->
			<div class="day_m">
				<div class="day_m_msg">
					<p >白天（太阳能优先工作模式）</p>
					<img src="../../../static/image/project/cnwdw/ess/day.png" alt="">
				</div>
			</div>
			<!-- day结束 -->
			<!-- night开始 -->
			<div class="night_m">
				<div class="night_m_msg">
					<p class="whiteTxt">夜晚（电池优先工作模式）</p>
					<img src="../../../static/image/project/cnwdw/ess/night.png" alt="">
				</div>
			</div>
			<!-- night结束 -->
			<!-- 多种运行模式结束 -->
			<!-- 远程监控开始 -->
			<div class="partBox">
				<div class="bgImg ycjkBg">
					<img src="../../../static/image/project/cnwdw/ess/bg3.jpg" class="blockImg" alt="">
				</div>
				
				<div class="centerBox_mkh">
					<div class="mkh_left">
						<p class="txt_title1 blackTxt see_fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">远程监控
						</p>
						<div class="ycjk_redline see_fadeInLeft" data-wow-duration="1s" data-wow-delay="0.6s"></div>
						<p class="txt_subtitle1 see_fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s">
							WIFI远程控制模块（可选）自定义设置</p>
						<p class="txt_subtitle1 see_fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">以实现个性化节流
						</p>
						<p class="txt_subtitle1 see_fadeInLeft" data-wow-duration="1s" data-wow-delay="0.6s">
							可通过APP实时查看管理电池使用情况</p>
					</div>
					<div class="mkh_right">
						<img src="../../../static/image/project/cnwdw/ess/p2.png" alt=""
							class="blockImg see_fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
					</div>
				</div>
				
			</div>
			<!-- 远程监控结束 -->
			<!-- 参数开始 -->
			<div class="partBox">
				<div class="bgImg csBg">
					<img src="../../../static/image/project/dnzl/sbw/bg4.jpg" class="blockImg" alt="">
				</div>
				<div class="centerBox_cs">
					<div class="cs_left">
						<div class="cs_left_msg">
							<p class="cs_left_msg_title">{{essList[actIndex].name}}</p>
							<div class="cs_left_msg_redline"></div>
							<div class="cs_msg_box">
								<div class="msg_item" v-for="(item,index) in essList[actIndex].cs" :key="index">
									<span class="msg_item_name">{{item.name}}</span>
									<span class="msg_item_val">{{item.val}}</span>
								</div>
							</div>
						</div>
						<div class="switchBox">
							<div :class="actIndex>0?'switch_left actBox':'switch_left'" @click="reduceIndex()">
								<i class="iconfont icon-fanhui"></i>
							</div>
							<div :class="actIndex < (essList.length-1)?'switch_right actBox':'switch_right'"
								@click="addIndex()">
								<i class="iconfont icon-gengduo"></i>
							</div>
						</div>
					</div>
					<div class="cs_right">
						<img :src="essList[actIndex].img" alt="" class="rightImg">
					</div>
					<div class="selectBox_m">
						<div :class="actIndex>0?' switch_l_m actBox':' switch_l_m'" @click="reduceIndex()">
							<i class="iconfont icon-fanhui"></i>
						</div>
						<div :class="actIndex < (essList.length-1)?' switch_r_m actBox':' switch_r_m'"  @click="addIndex()">
							<i class="iconfont icon-gengduo"></i>
						</div>
					</div>
				</div>
				
			</div>
			<div></div>
			<!-- 参数结束 -->
			<div class="csMsg_m">
				<div class="cs_left_msg">
					<p class="cs_left_msg_title">{{essList[actIndex].name}}</p>
					<div class="cs_left_msg_redline"></div>
					<div class="cs_msg_box">
						<div class="msg_item" v-for="(item,index) in essList[actIndex].cs" :key="index">
							<span class="msg_item_name">{{item.name}}</span>
							<span class="msg_item_val">{{item.val}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 页面内容结束 -->
		<!-- 联系我们开始 -->
		<div class="box100"  id="contactBox">
			<div class="contactBox">
				<div class="contact_left see_fadeInLeft">
					<p class="contact_title">联系我们</p>
					<div class="redLine_contact"></div>
					<p class="contact_txt">如果您有任何的需要，请随时与我们联系。</p>
					<div class="inputBox">
						<div class="inputItem ">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的姓名" v-model="userName" />
						</div>
						<div class="inputItem">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的公司" v-model="userCompany"/>
						</div>
						<div class="inputItem">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的电话" v-model="userPhone"/>
						</div>
						<div class="inputItem">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的邮箱" v-model="userMail"/>
						</div>
					</div>
					<div class="liuyan">
						<i class="iconfont icon-xinghao"></i>
						<textarea rows="" cols="" placeholder="请输入留言内容" v-model="userLy"></textarea>
					</div>
					<div class="btn_liuyan" @click="subLy()">提交留言</div>
				</div>
				<div class="contact_right see_fadeInRight">
					<div class="contactTypeBox">
						<div class="telBox">
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon">
									<i class="iconfont icon-phone"></i>
								</div>
								<div class="contactTypeItem_msg">
									<p>销售热线</p>
									<p>{{telMsg.rexian}}</p>
								</div>
							</div>
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon">
									<i class="iconfont icon-yunchuanzhen"></i>
								</div>
								<div class="contactTypeItem_msg">
									<p>公司传真</p>
									<p>{{telMsg.chuanzhen}}</p>
								</div>
							</div>
						</div>
						<div class="addressBox">
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon">
									<i class="iconfont icon-dingweixiao"></i>
								</div>
								<div class="contactTypeItem_msg">
									<p>{{addressMsg[0].name}}</p>
									<p>{{addressMsg[0].add}}</p>
								</div>
							</div>
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon" style="opacity: 0;">
									<!-- <i class="iconfont icon-zuoji"></i> -->
								</div>
								<div class="contactTypeItem_msg">
									<p>{{addressMsg[1].name}}</p>
									<p>{{addressMsg[1].add}}</p>
								</div>
							</div>
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon" style="opacity: 0;">
									<!-- <i class="iconfont icon-zuoji"></i> -->
								</div>
								<div class="contactTypeItem_msg">
									<p>{{addressMsg[2].name}}</p>
									<p>{{addressMsg[2].add}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 联系我们结束 -->
		<!-- 去顶部按钮 -->
		<div class="toTopBtn" onclick="toTop()">
			<i class="iconfont icon-huidaodingbu"></i>
		</div>
		<!-- 底部开始 -->
		<yiy-footer id="navFooter"></yiy-footer>
		<!-- 底部结束 -->
		<!-- 脚本引入开始 -->
		<!-- 公共方法 -->
		<script src="../../../static/js/common.js" type="text/javascript" charset="utf-8"></script>
		<!-- 插件引入 -->
		<script src="../../../plugins/vue/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../plugins/element-ui/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../plugins/wow/wow.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../plugins/swiper-5.4.5/package/js/swiper.min.js" type="text/javascript" charset="utf-8">
		</script>
		<!-- 页面脚本引入 -->
		<script src="../../../static/js/header_new_l2.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../static/js/footer_l2.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../static/js/project/cnwdw/ess.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../static/js/public.js" type="text/javascript" charset="utf-8"></script>
		<!-- 脚本引入结束 -->
	</body>
</html>
