<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<!-- <base href="http://127.0.0.1:8848/yiyuan/"> -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>工商业储能系统 | 一元电气科技有限公司</title>
		<meta name="description" content="一元科技集团是一家专业从事电源产品开发、生产、营销及服务的高新技术企业。目前公司拥有一元电气科技、浙江一元、温州一元进出口、丽水一元、深圳一元电气、深圳市一元科技、湖北一元科技等十大全资公司。主要生产经营稳压器（AVR）、逆变电源 （INV）、储能逆变一体机、储能变流器（PCS）、集装箱式储能柜、UPS不间断电源、EPS消防应急电源、风力光伏发电系统、变频器、MPPT太阳能控制器、调压器、变压器等系列产品。是国家高新技术企业、中国电气行业十大知名品牌，2017年度中国稳压器十大品牌 。" />
		<meta name="keywords" content="一元电气,一元电气官网,一元电气科技有限公司,一元科技集团官网,深圳一元,深圳一元电气,丽水一元,丽水一元电气,有源滤波器,静止无功发生器,混合型动态无功补偿装置,自动电压调节器,稳压器,储能一体机,储能系统,光储充,电池包,逆变器,太阳能控制器" />
		<link rel="shortcut icon" href="../../../static/favicon.ico" />
		<!-- 公样式 -->
		<link rel="stylesheet" type="text/css" href="../../../static/css/scrollbar.css" />
		<link rel="stylesheet" type="text/css" href="../../../static/css/public.css" />
		<link rel="stylesheet" type="text/css" href="../../../static/css/header.css" />
		<link rel="stylesheet" type="text/css" href="../../../static/css/footer.css" />
		<!-- 图标 -->
		<link rel="stylesheet" type="text/css" href="../../../static/css/iconfont.css" />
		<!-- 插件样式 -->
		<link rel="stylesheet" type="text/css" href="../../../plugins/animate.css/animate.min.css" />
		<link rel="stylesheet" type="text/css" href="../../../plugins/element-ui/index.css"/>
		<link rel="stylesheet" type="text/css" href="../../../plugins/swiper-5.4.5/package/css/swiper.min.css" />
		<!-- 页面样式 -->
		<link rel="stylesheet" type="text/css" href="../../../static/css/project/cnwdw/gsycn.css" />
		<script type="text/javascript">
			var level=2;
		</script>
	</head>
	<body>
		<!-- 头部开始 -->
		<yiy-header id="navHead"></yiy-header>
		<!-- 头部结束 -->
		<!-- 页面内容开始 -->
		<div id="appGsycn" class="content">
			<!-- banner -->
			<div class="partBox">
				<div class="bgImg bannerBg">
					<img src="../../../static/image/project/cnwdw/gsycn/banenr.jpg" class="pc_bg" alt="" />
					<img src="../../../static/image/project/cnwdw/gsycn/m/banner.jpg" class="m_bg" alt="" />
				</div>
				<div class="centerBox_ab2">
					<div class="bannerTitle">
						<p class="txt_title_big whiteTxt see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">工商业储能系统</p>
						<div class="redLine2_normal see_fadeInUpLine" data-wow-duration="1s" data-wow-delay="0.4s"></div>
						<p class="title1 see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">YIY工商业储能系统采用模块化系统配置，灵活匹配各类工商业场景，同时支持多模式运行，提升了投资收益，能实现峰谷时移、错峰用电，缓解电网压力。</p>
					</div>
				</div>
			</div>
			<!-- banner结束 -->
			<!-- 典型方案开始 -->
			<div class="dxfaBox">
				<div class="dxfaTxt">
					<p class="txt_title1 see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">典型方案</p>
					<p class="redLine_normal see_fadeInUpLine" data-wow-duration="1s" data-wow-delay="0.4s"></p>
					<p class="dxfaTxt_txt see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">分时电价削峰填谷、动态扩容及需求侧响应，节省用电电费，另外储能可辅助分布式电源的接入，为电网提供友好型电源。</p>
				</div>
				<div class="dxfaImg see_fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
					<img src="../../../static/image/project/cnwdw/gsycn/p1.png" class="blockImg" alt="" />
				</div>
				
			</div>
			<!-- 典型方案结束 -->
			<!-- 应用场景开始 -->
			<div class="yycjBox">
				<div class="yycjMsgBox">
					<p class="txt_title1 see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">应用场景</p>
					<div class="cjBox">
						<div class="cjItem see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
							<div class="cjItem_left">
								<img src="../../../static/image/project/cnwdw/gsycn/cj/y1.png" class="blockImg" alt="" />
							</div>
							<div class="cjItem_right">
								<div class="cjItem_txt">
									<p class="cjItem_txt_title">需量响应</p>
									<div class="cjItem_txt_line"></div>
									<p class="cjItem_txt_subtitle">利用储能系统替代峰值用电时的变压器容量，使用户降低变压器使用成本，减少变压器投资扩容的周期。</p>
								</div>
							</div>
						</div>
						<div class="cjItem see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
							<div class="cjItem_left">
								<img src="../../../static/image/project/cnwdw/gsycn/cj/y4.png" class="blockImg" alt="" />
							</div>
							<div class="cjItem_right">
								<div class="cjItem_txt">
									<p class="cjItem_txt_title">自发自用</p>
									<div class="cjItem_txt_line"></div>
									<p class="cjItem_txt_subtitle">光伏的能量优先存储在电池中，余电给负载供电，当光伏能量不足时，由储能电池给负载供电。</p>
								</div>
							</div>
						</div>
						<div class="cjItem see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
							<div class="cjItem_left">
								<img src="../../../static/image/project/cnwdw/gsycn/cj/y2.png" class="blockImg" alt="" />
							</div>
							<div class="cjItem_right">
								<div class="cjItem_txt">
									<p class="cjItem_txt_title">后备电源</p>
									<div class="cjItem_txt_line"></div>
									<p class="cjItem_txt_subtitle">当电网掉电时，储能系统运行在离网供电模式给负载供电，减少电网掉电带来的经济损失。</p>
								</div>
							</div>
						</div>
						<div class="cjItem see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">
							<div class="cjItem_left">
								<img src="../../../static/image/project/cnwdw/gsycn/cj/y5.png" class="blockImg" alt="" />
							</div>
							<div class="cjItem_right">
								<div class="cjItem_txt">
									<p class="cjItem_txt_title">余电上网</p>
									<div class="cjItem_txt_line"></div>
									<p class="cjItem_txt_subtitle">光伏的能量储存在电池中，优先供应负载，使用不完的能量放电到电网，赚取电费。</p>
								</div>
							</div>
						</div>
						<div class="cjItem see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
							<div class="cjItem_left">
								<img src="../../../static/image/project/cnwdw/gsycn/cj/y3.png" class="blockImg" alt="" />
							</div>
							<div class="cjItem_right">
								<div class="cjItem_txt">
									<p class="cjItem_txt_title">电力交易</p>
									<div class="cjItem_txt_line"></div>
									<p class="cjItem_txt_subtitle">利用峰谷电价差，通过谷时充电储能、峰时放电供能，减少用户用电成本，为用户节约电费。</p>
								</div>
							</div>
						</div>
						<div class="cjItem see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s">
							<div class="cjItem_left">
								<img src="../../../static/image/project/cnwdw/gsycn/cj/y6.png" class="blockImg" alt="" />
							</div>
							<div class="cjItem_right">
								<div class="cjItem_txt">
									<p class="cjItem_txt_title">后备电源</p>
									<div class="cjItem_txt_line"></div>
									<p class="cjItem_txt_subtitle">应急供电和备电，当市电断电时，自动切换为离网带载模式，保证负载不掉电。同时支持离网黑启动，保证应急负载供电。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 应用场景结束 -->
			<!-- 系统方案开始 -->
			<div class="xtfaBox">
				<div class="xtfa_content">
					<p class="txt_title1 see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">系统方案</p>
					<div class="faBox">
						<div class="faItem see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s" @click="toLink(1)">
							<div class="faItem_zdc">
								<div class="faItem_txt">
									<p class="faItem_txt_title">家庭储能系统方案</p>
									<div class="faItem_txt_line"></div>
								</div>
							</div>
							<div class="faitem_img">
								<img src="../../../static/image/project/cnwdw/public/01.png"  alt="" />
							</div>
						</div>
						<div class="faItem see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s" @click="toLink(2)">
							<div class="faItem_zdc">
								<div class="faItem_txt">
									<p class="faItem_txt_title">车载储能系统方案</p>
									<div class="faItem_txt_line"></div>
								</div>
							</div>
							<div class="faitem_img">
								<img src="../../../static/image/project/cnwdw/public/02.png" class="bannerImg" alt="" />
							</div>
						</div>
						<div class="faItem see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" @click="toLink(3)">
							<div class="faItem_zdc">
								<div class="faItem_txt">
									<p class="faItem_txt_title">光储充一体系统方案</p>
									<div class="faItem_txt_line"></div>
								</div>
							</div>
							<div class="faitem_img">
								<img src="../../../static/image/project/cnwdw/public/03.png" class="bannerImg" alt="" />
							</div>
						</div>
						<div class="faItem see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s" @click="toLink(4)">
							<div class="faItem_zdc">
								<div class="faItem_txt">
									<p class="faItem_txt_title">电网侧与发电侧储能系统方案</p>
									<div class="faItem_txt_line"></div>
								</div>
							</div>
							<div class="faitem_img">
								<img src="../../../static/image/project/cnwdw/public/04.png" class="bannerImg" alt="" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 系统方案结束 -->
			
			
		</div>
		<!-- 页面内容结束 -->
		<!-- 联系我们开始 -->
		<div class="box100"  id="contactBox">
			<div class="contactBox">
				<div class="contact_left see_fadeInLeft">
					<p class="contact_title">联系我们</p>
					<div class="redLine_contact"></div>
					<p class="contact_txt">如果您有任何的需要，请随时与我们联系。</p>
					<div class="inputBox">
						<div class="inputItem ">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的姓名" v-model="userName" />
						</div>
						<div class="inputItem">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的公司" v-model="userCompany"/>
						</div>
						<div class="inputItem">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的电话" v-model="userPhone"/>
						</div>
						<div class="inputItem">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的邮箱" v-model="userMail"/>
						</div>
					</div>
					<div class="liuyan">
						<i class="iconfont icon-xinghao"></i>
						<textarea rows="" cols="" placeholder="请输入留言内容" v-model="userLy"></textarea>
					</div>
					<div class="btn_liuyan" @click="subLy()">提交留言</div>
				</div>
				<div class="contact_right see_fadeInRight">
					<div class="contactTypeBox">
						<div class="telBox">
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon">
									<i class="iconfont icon-phone"></i>
								</div>
								<div class="contactTypeItem_msg">
									<p>销售热线</p>
									<p>{{telMsg.rexian}}</p>
								</div>
							</div>
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon">
									<i class="iconfont icon-yunchuanzhen"></i>
								</div>
								<div class="contactTypeItem_msg">
									<p>公司传真</p>
									<p>{{telMsg.chuanzhen}}</p>
								</div>
							</div>
						</div>
						<div class="addressBox">
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon">
									<i class="iconfont icon-dingweixiao"></i>
								</div>
								<div class="contactTypeItem_msg">
									<p>{{addressMsg[0].name}}</p>
									<p>{{addressMsg[0].add}}</p>
								</div>
							</div>
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon" style="opacity: 0;">
									<!-- <i class="iconfont icon-zuoji"></i> -->
								</div>
								<div class="contactTypeItem_msg">
									<p>{{addressMsg[1].name}}</p>
									<p>{{addressMsg[1].add}}</p>
								</div>
							</div>
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon" style="opacity: 0;">
									<!-- <i class="iconfont icon-zuoji"></i> -->
								</div>
								<div class="contactTypeItem_msg">
									<p>{{addressMsg[2].name}}</p>
									<p>{{addressMsg[2].add}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 联系我们结束 -->
		<!-- 去顶部按钮 -->
		<div class="toTopBtn" onclick="toTop()">
			<i class="iconfont icon-huidaodingbu"></i>
		</div>
		<!-- 底部开始 -->
		<yiy-footer id="navFooter"></yiy-footer>
		<!-- 底部结束 -->
		<!-- 脚本引入开始 -->
		<!-- 公共方法 -->
		<script src="../../../static/js/common.js" type="text/javascript" charset="utf-8"></script>
		<!-- 插件引入 -->
		<script src="../../../plugins/vue/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../plugins/element-ui/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../plugins/wow/wow.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../plugins/swiper-5.4.5/package/js/swiper.min.js" type="text/javascript" charset="utf-8">
		</script>
		<!-- 页面脚本引入 -->
		<script src="../../../static/js/header_new_l2.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../static/js/footer_l2.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../static/js/project/cnwdw/gsycn.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../static/js/public.js" type="text/javascript" charset="utf-8"></script>
		<!-- 脚本引入结束 -->
	</body>
</html>
