<!DOCTYPE html>
<html>
	<head>
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta charset="utf-8">
		<!-- <base href="http://127.0.0.1:8848/yiyuan/"> -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>家庭储能系统 | 一元电气科技有限公司</title>
		<meta name="description" content="一元科技集团是一家专业从事电源产品开发、生产、营销及服务的高新技术企业。目前公司拥有一元电气科技、浙江一元、温州一元进出口、丽水一元、深圳一元电气、深圳市一元科技、湖北一元科技等十大全资公司。主要生产经营稳压器（AVR）、逆变电源 （INV）、储能逆变一体机、储能变流器（PCS）、集装箱式储能柜、UPS不间断电源、EPS消防应急电源、风力光伏发电系统、变频器、MPPT太阳能控制器、调压器、变压器等系列产品。是国家高新技术企业、中国电气行业十大知名品牌，2017年度中国稳压器十大品牌 。" />
		<meta name="keywords" content="一元电气,一元电气官网,一元电气科技有限公司,一元科技集团官网,深圳一元,深圳一元电气,丽水一元,丽水一元电气,有源滤波器,静止无功发生器,混合型动态无功补偿装置,自动电压调节器,稳压器,储能一体机,储能系统,光储充,电池包,逆变器,太阳能控制器" />
		<link rel="shortcut icon" href="../../../static/favicon.ico" />
		<!-- 公样式 -->
		<link rel="stylesheet" type="text/css" href="../../../static/css/scrollbar.css"/>
		<link rel="stylesheet" type="text/css" href="../../../static/css/public.css" />
		<link rel="stylesheet" type="text/css" href="../../../static/css/header.css" />
		<link rel="stylesheet" type="text/css" href="../../../static/css/footer.css" />
		<!-- 图标 -->
		<link rel="stylesheet" type="text/css" href="../../../static/css/iconfont.css" />
		<!-- 插件样式 -->
		<link rel="stylesheet" type="text/css" href="../../../plugins/animate.css/animate.min.css" />
		<link rel="stylesheet" type="text/css" href="../../../plugins/element-ui/index.css" />
		<link rel="stylesheet" type="text/css" href="../../../plugins/swiper-5.4.5/package/css/swiper.min.css" />
		<!-- 页面样式 -->
		<link rel="stylesheet" type="text/css" href="../../../static/css/project/cnwdw/jtcn.css" />
		<script type="text/javascript">
			var level=2;
		</script>
	</head>
	<body>
		<!-- 头部开始 -->
		<yiy-header id="navHead"></yiy-header>
		<!-- 头部结束 -->
		<!-- 页面内容开始 -->
		<div id="appJtcn" class="content">
			<!-- banner -->
			<div class="partBox">
				<div class="bgImg">
					<img src="../../../static/image/project/cnwdw/jtcn/banner.jpg" class="pc_bg" alt="" />
					<img src="../../../static/image/project/cnwdw/jtcn/m/banner.jpg" class="m_bg" alt="" />
				</div>
				<div class="bannerTitle">
					<div class="banner_item see_fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
						<i class="iconfont icon-yunchucun"></i>
						<p>储存能量</p>
					</div>
					<div class="banner_item see_fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s">
						<p>24/7</p>
						<p>备用电能</p>
					</div>
					<div class="banner_item see_fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
						<i class="iconfont icon-anquanbaozhang"></i>
						<p>为家庭供电</p>
					</div>
				</div>
			</div>
			<!-- banner结束 -->
			<!-- 板块1开始 -->
			<div class="partBox">
				<div class="bgImg bk1Bg">
					<img src="../../../static/image/project/cnwdw/jtcn/bg1.jpg" class="pc_bg" alt="">
					<img src="../../../static/image/project/cnwdw/jtcn/m/bg1.jpg" class="m_bg" alt="">
				</div>
				<div class="bk1MsgBox">
					<div class="bk1MsgItem">
						<i class="iconfont icon-shebei-beiyongdianyuanzhuji-relation see_fadeInUp"
							data-wow-duration="1s" data-wow-delay="0.3s"></i>
						<p class="bk1MsgItem_title see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">备用电源</p>
						<p class="bk1MsgItem_subTitle see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
							断电时利用存储的能量为家庭供电</p>
					</div>
					<div class="bk1MsgItem2">
						<div class="txtBox">
							<i class="iconfont icon-ziyongdian see_fadeInUp" data-wow-duration="1s"
								data-wow-delay="0.4s"></i>
							<p class="bk1MsgItem_title see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">自发自用
							</p>
							<p class="bk1MsgItem_subTitle see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
								配合太阳能使用，可实现清洁能源充电</p>
						</div>
					</div>
					<div class="bk1MsgItem3">
						<div class="txtBox">
							<i class="iconfont icon-anquanbaozhang1 see_fadeInUp" data-wow-duration="1s"
								data-wow-delay="0.5s"></i>
							<p class="bk1MsgItem_title see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">安全保障
							</p>
							<p class="bk1MsgItem_subTitle see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
								保障家电不间断运行</p>
						</div>
					</div>
				</div>
				<div class="bk1MsgBox_m">
					<div class="bk1MsgItem">
						<i class="iconfont icon-shebei-beiyongdianyuanzhuji-relation see_fadeInUp"
							data-wow-duration="1s" data-wow-delay="0.3s"></i>
						<div>
							<p class="bk1MsgItem_title see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">备用电源</p>
							<p class="bk1MsgItem_subTitle see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
								断电时利用存储的能量为家庭供电</p>
						</div>
					</div>
					<div class="bk1MsgItem2">
						<div class="txtBox">
							<i class="iconfont icon-ziyongdian see_fadeInUp" data-wow-duration="1s"
								data-wow-delay="0.4s"></i>
							<div>
								<p class="bk1MsgItem_title see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">自发自用
								</p>
								<p class="bk1MsgItem_subTitle see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
									配合太阳能使用，可实现清洁能源充电</p>
							</div>
						</div>
					</div>
					<div class="bk1MsgItem3">
						<div class="txtBox">
							<i class="iconfont icon-anquanbaozhang1 see_fadeInUp" data-wow-duration="1s"
								data-wow-delay="0.5s"></i>
							<div>
								<p class="bk1MsgItem_title see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">安全保障
								</p>
								<p class="bk1MsgItem_subTitle see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
									保障家电不间断运行</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 板块2结束 -->
			<!-- 安全备用点能开始 -->
			<div class="bydnBox">
				<div class="bydnMsg">
					<div class="bydnMsg_left">
						<p class="bydnMsg_left_title see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">安全备用电能
						</p>
						<div class="bydnMsg_left_redline see_fadeInUpLine" data-wow-duration="1s" data-wow-delay="0.4s">
						</div>
					</div>
					<div class="bydnMsg_right see_fadeInUpLine" data-wow-duration="1s" data-wow-delay="0.4s">
						<p>YIY家庭储能系统是可以储能，检测断电情况，并在停电时为住宅供电的电池。与发电机不同，YIY家庭储能系统无需保养、不耗油也不会产生噪音，让您家灯常亮。搭配太阳能，利用阳光充电，可为家电连续供电数天。</p>
					</div>
				</div>
			</div>
			<!-- 安全备用点能结束 -->
			<!-- 全方位能源供应开始 -->
			<div class="qfwBox">
				<div class="qfwMsgBox">
					<p class="txt_title1">全方位能源供应</p>
					<div class="qfwMsgBox_redline"></div>
					<div class="tabBox see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s"
						style="margin-bottom: 60px;">
						<div :class="actQfwIndex==0?'actItem blackTxt':'blackTxt'" @click="actQfwIndex=0">白天（太阳能优先模式）
						</div>
						<div :class="actQfwIndex==1?'actItem blackTxt':'blackTxt'" @click="actQfwIndex=1">夜晚（电池包优先模式）
						</div>
					</div>
					<div class="dayMsgBox" v-show="actQfwIndex==0">
						<div class="dayMsgItem">
							<div class="dayMsgItem_top">
								<img src="../../../static/image/project/cnwdw/jtcn/gif/01.gif" alt="">
							</div>
							<div class="dayMsgItem_bottom1">
								<img src="../../../static/image/project/cnwdw/jtcn/gif/b1.png" alt="">
							</div>
						</div>
						<div class="dayMsgItem">
							<div class="dayMsgItem_top">
								<img src="../../../static/image/project/cnwdw/jtcn/gif/02.gif" alt="">
							</div>
							<div class="dayMsgItem_bottom2">
								<img src="../../../static/image/project/cnwdw/jtcn/gif/b2.png" alt="">
							</div>
						</div>
						<div class="dayMsgItem">
							<div class="dayMsgItem_top">
								<img src="../../../static/image/project/cnwdw/jtcn/gif/03.gif" alt="">
							</div>
							<div class="dayMsgItem_bottom2">
								<img src="../../../static/image/project/cnwdw/jtcn/gif/b3.png" alt="">
							</div>
						</div>
					</div>
					<div class="nightMsgBox" v-show="actQfwIndex==1">
						<div class="dayMsgItem">
							<div class="dayMsgItem_top">
								<img src="../../../static/image/project/cnwdw/jtcn/gif/04.gif" alt="">
							</div>
							<div class="dayMsgItem_bottom2">
								<img src="../../../static/image/project/cnwdw/jtcn/gif/y1.png" alt="">
							</div>
						</div>
						<div class="dayMsgItem">
							<div class="dayMsgItem_top">
								<img src="../../../static/image/project/cnwdw/jtcn/gif/05.gif" alt="">
							</div>
							<div class="dayMsgItem_bottom3">
								<img src="../../../static/image/project/cnwdw/jtcn/gif/y2.png" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="qfwMsgBox_m">
					<p class="txt_title1">全方位能源供应</p>
					<div class="qfwMsgBox_redline"></div>
					<div class="dayBox">
						<div class="dayTitle">
							白天 (太阳能优先模式)
						</div>
						<div class="dayMsgBox">
							<div class="dayMsgItem">
								<div class="dayMsgItem_top">
									<img src="../../../static/image/project/cnwdw/jtcn/gif/01.gif" alt="">
								</div>
								<div class="dayMsgItem_bottom1">
									<img src="../../../static/image/project/cnwdw/jtcn/gif/b1.png" alt="">
								</div>
							</div>
							<div class="dayMsgItem">
								<div class="dayMsgItem_top">
									<img src="../../../static/image/project/cnwdw/jtcn/gif/02.gif" alt="">
								</div>
								<div class="dayMsgItem_bottom2">
									<img src="../../../static/image/project/cnwdw/jtcn/gif/b2.png" alt="">
								</div>
							</div>
							<div class="dayMsgItem">
								<div class="dayMsgItem_top">
									<img src="../../../static/image/project/cnwdw/jtcn/gif/03.gif" alt="">
								</div>
								<div class="dayMsgItem_bottom2">
									<img src="../../../static/image/project/cnwdw/jtcn/gif/b3.png" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="dayBox" style="margin-top: 34px;">
						<div class="dayTitle">
							夜晚 (电池包优先模式)
						</div>
						<div class="dayMsgBox">
							<div class="dayMsgItem">
								<div class="dayMsgItem_top">
									<img src="../../../static/image/project/cnwdw/jtcn/gif/04.gif" alt="">
								</div>
								<div class="dayMsgItem_bottom2">
									<img src="../../../static/image/project/cnwdw/jtcn/gif/y1.png" alt="">
								</div>
							</div>
							<div class="dayMsgItem">
								<div class="dayMsgItem_top">
									<img src="../../../static/image/project/cnwdw/jtcn/gif/05.gif" alt="">
								</div>
								<div class="dayMsgItem_bottom3">
									<img src="../../../static/image/project/cnwdw/jtcn/gif/y2.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 全方位能源供应结束 -->
			<!-- 实时监控开始 -->
			<div class="partBox">
				<div class="bgImg ssjkBg">
					<img src="../../../static/image/project/cnwdw/czcn/bg2.jpg" class="blockImg" alt="">
				</div>
				<div class="centerBox_ssjk">
					<div class="ssjk_left">
						<p class="txt_title1 blackTxt see_fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">实时监控
						</p>
						<div class="ssjk_redline see_fadeInLeft" data-wow-duration="1s" data-wow-delay="0.6s"></div>
						<p class="txt_subtitle1 see_fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s">借助手机APP</p>
						<p class="txt_subtitle1 see_fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
							可以实时监控住宅的发电用电与余电情况</p>
						<p class="txt_subtitle1 see_fadeInLeft" data-wow-duration="1s" data-wow-delay="0.6s">您可以随时地监控系统
						</p>
					</div>
					<div class="ssjk_right">
						<img src="../../../static/image/project/cnwdw/czcn/p2.png" alt="" class="blockImg see_fadeInRight"
							data-wow-duration="1s" data-wow-delay="0.4s">
					</div>
				</div>
			</div>
			<!-- 实时监控结束 -->
			<!-- 系统配套产品开始 -->
			<div class="partBox ptBox">
				<div class="centerBox_ptcp">
					<p class="txt_title1 blackTxt see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">系统配套产品</p>
					<div class="swiperBox">
						<!-- Swiper -->
						<div class="swiper mySwiper">
							<div class="swiper-wrapper">
								<div class="swiper-slide cpItem" v-for="(item,index) in ptcpMsg" :key="index">
									<div class="cpMsg">
										<div class="cpMsg_txt">
											<span class="cpMsg_txt_title">{{item.title}}</span>
											<div class="cpMsg_txt_redLine"></div>
											<p class="cpMsg_txt_subtitle">{{item.subTitle}}</p>
										</div>
										<div class="cpMsg_img">
											<img :src="item.img" alt="" class="blockImg">
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-pagination ptcp_pagination"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- 系统配套产品结束 -->
			<!-- 系统规格配置开始 -->
			<div class="partBox ggpzPart">
				<div class="bgImg ggpzBg">
					<img src="../../../static/image/project/cnwdw/jtcn/bg2.jpg" class="blockImg" alt="">
				</div>
				<div class="centerBox_ab ggpzBox">
					<div class="ggpzBox_top">
						<p class="txt_title1 whiteTxt see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">系统规格配置
						</p>
						<div class="redLine_normal see_fadeInUpLine" data-wow-duration="1s" data-wow-delay="0.5s"></div>
						<div class="tabBox see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
							<div :class="actGgindex==0?'actItem whiteTxt':'whiteTxt'" @click="actGgindex=0">电池包系统标准配置
							</div>
							<div :class="actGgindex==1?'actItem whiteTxt':'whiteTxt'" @click="actGgindex=1">一体机系统标准配置
							</div>
						</div>
					</div>
					<div class="ggpzBox_bottom">

						<!-- 电池包数据 -->
						<img v-show="actGgindex==0" src="../../../static/image/project/cnwdw/jtcn/p1.png" alt=""
							class="blockImg">
						<el-table v-show="actGgindex==0" :data="dcbData" border class="dataTable table1">
							<el-table-column prop="guige" label="系统规格" width="125" align="center">
							</el-table-column>
							<el-table-column prop="dcbrl" label="电池包容量" width="150" align="center">
							</el-table-column>
							<el-table-column prop="nbqgl" label="逆变器功率" width="150" align="center">
							</el-table-column>
							<el-table-column prop="mpptgg" label="MPPT规格" width="150" align="center">
							</el-table-column>
							<el-table-column prop="tynbsl" label="太阳能板数量" width="150" align="center">
							</el-table-column>
							<el-table-column prop="tynzgl" label="太阳能总功率" width="150" align="center">
							</el-table-column>
						</el-table>
						<!-- 一体机数据 -->
						<img v-show="actGgindex==1" src="../../../static/image/project/cnwdw/jtcn/p2.png" alt=""
							class="blockImg">
						<el-table v-show="actGgindex==1" :data="ytjData" border class="dataTable">
							<el-table-column prop="xtgg" label="系统规格" width="125" align="center">
							</el-table-column>
							<el-table-column prop="ytjdcrl" label="一体机电池容量" width="150" align="center">
							</el-table-column>
							<el-table-column prop="nbqgl" label="逆变器功率（内置）" width="150" align="center">
							</el-table-column>
							<el-table-column prop="mpptgg" label="MPPT规格（内置）" width="150" align="center">
							</el-table-column>
							<el-table-column prop="tynbsl" label="太阳能板数量" width="150" align="center">
							</el-table-column>
							<el-table-column prop="tynzgl" label="太阳能总功率"  width="150" align="center">
							</el-table-column>
						</el-table>
					</div>
				</div>
			</div>
			<div class="ggpzPart_m">
				<div class="ggpzBox_m">
					<span class="ggpzTitle_m">系统规格配置</span>
					<div class="redline_ggpz_m"></div>
					<div class="ggpzType_title">电池包系统标准配置</div>
					<div class="ggpzImg_m1">
						<img src="../../../static/image/project/cnwdw/jtcn/p1.png" alt="" class="blockImg">
					</div>
					<div class="dataTableBox">
						<i class="iconfont icon-qiehuanqiyou tableicon1"></i>
						<el-table :data="dcbData" border class="dataTable tablem_1">
							<el-table-column prop="guige" label="系统规格" :width="clientWidth<380?'90':'100'" align="center">
							</el-table-column>
							<el-table-column prop="dcbrl" label="电池包容量" :width="clientWidth<380?'110':'110'" align="center">
							</el-table-column>
							<el-table-column prop="nbqgl" label="逆变器功率" :width="clientWidth<380?'100':'120'" align="center">
							</el-table-column>
							<el-table-column prop="mpptgg" label="MPPT规格" width="150" align="center">
							</el-table-column>
							<el-table-column prop="tynbsl" label="太阳能板数量" width="105" align="center">
							</el-table-column>
							<el-table-column prop="tynzgl" label="太阳能总功率" width="105" align="center">
							</el-table-column>
						</el-table>
					</div>
					<div class="ggpzType_title">一体机系统标准配置</div>
					<div class="ggpzImg_m2">
						<img src="../../../static/image/project/cnwdw/jtcn/p2.png" alt="" class="blockImg">
					</div>
					<div class="dataTableBox">
						<i class="iconfont icon-qiehuanqiyou tableicon2"></i>
						<el-table :data="ytjData" border  class="dataTable tablem_2">
							<el-table-column prop="xtgg" label="系统规格" :width="clientWidth<380?'90':'80'" align="center">
							</el-table-column>
							<el-table-column prop="ytjdcrl" label="一体机电池容量" :width="clientWidth<380?'110':'110'" align="center">
							</el-table-column>
							<el-table-column prop="nbqgl" label="逆变器功率（内置）" :width="clientWidth<380?'100':'140'" align="center">
							</el-table-column>
							<el-table-column prop="mpptgg" label="MPPT规格（内置）" width="150" align="center">
							</el-table-column>
							<el-table-column prop="tynbsl" label="太阳能板数量" width="150" align="center">
							</el-table-column>
							<el-table-column prop="tynzgl" label="太阳能总功率"  width="105" align="center">
							</el-table-column>
						</el-table>
					</div>
					
				</div>
			</div>
		</div>
		<!-- 页面内容结束 -->
		<!-- 联系我们开始 -->
		<div class="box100" id="contactBox">
			<div class="contactBox">
				<div class="contact_left see_fadeInLeft">
					<p class="contact_title">联系我们</p>
					<div class="redLine_contact"></div>
					<p class="contact_txt">如果您有任何的需要，请随时与我们联系。</p>
					<div class="inputBox">
						<div class="inputItem ">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的姓名" v-model="userName" />
						</div>
						<div class="inputItem">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的公司" v-model="userCompany"/>
						</div>
						<div class="inputItem">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的电话" v-model="userPhone"/>
						</div>
						<div class="inputItem">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的邮箱" v-model="userMail"/>
						</div>
					</div>
					<div class="liuyan">
						<i class="iconfont icon-xinghao"></i>
						<textarea rows="" cols="" placeholder="请输入留言内容" v-model="userLy"></textarea>
					</div>
					<div class="btn_liuyan" @click="subLy()">提交留言</div>
				</div>
				<div class="contact_right see_fadeInRight">
					<div class="contactTypeBox">
						<div class="telBox">
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon">
									<i class="iconfont icon-phone"></i>
								</div>
								<div class="contactTypeItem_msg">
									<p>销售热线</p>
									<p>{{telMsg.rexian}}</p>
								</div>
							</div>
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon">
									<i class="iconfont icon-yunchuanzhen"></i>
								</div>
								<div class="contactTypeItem_msg">
									<p>公司传真</p>
									<p>{{telMsg.chuanzhen}}</p>
								</div>
							</div>
						</div>
						<div class="addressBox">
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon">
									<i class="iconfont icon-dingweixiao"></i>
								</div>
								<div class="contactTypeItem_msg">
									<p>{{addressMsg[0].name}}</p>
									<p>{{addressMsg[0].add}}</p>
								</div>
							</div>
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon" style="opacity: 0;">
									<!-- <i class="iconfont icon-zuoji"></i> -->
								</div>
								<div class="contactTypeItem_msg">
									<p>{{addressMsg[1].name}}</p>
									<p>{{addressMsg[1].add}}</p>
								</div>
							</div>
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon" style="opacity: 0;">
									<!-- <i class="iconfont icon-zuoji"></i> -->
								</div>
								<div class="contactTypeItem_msg">
									<p>{{addressMsg[2].name}}</p>
									<p>{{addressMsg[2].add}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 联系我们结束 -->
		<!-- 去顶部按钮 -->
		<div class="toTopBtn" onclick="toTop()">
			<i class="iconfont icon-huidaodingbu"></i>
		</div>
		<!-- 底部开始 -->
		<yiy-footer id="navFooter"></yiy-footer>
		<!-- 底部结束 -->
		<!-- 脚本引入开始 -->
		<!-- 公共方法 -->
		<script src="../../../static/js/common.js" type="text/javascript" charset="utf-8"></script>
		<!-- 插件引入 -->
		<script src="../../../plugins/vue/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../plugins/element-ui/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../plugins/wow/wow.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../plugins/swiper-5.4.5/package/js/swiper.min.js" type="text/javascript" charset="utf-8">
		</script>
		<!-- 页面脚本引入 -->
		<script src="../../../static/js/header_new_l2.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../static/js/footer_l2.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../static/js/project/cnwdw/jtcn.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../static/js/public.js" type="text/javascript" charset="utf-8"></script>
		<!-- 脚本引入结束 -->
	</body>
</html>
