<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<!-- <base href="http://127.0.0.1:8848/yiyuan/"> -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
		<title>有源滤波器 | 一元电气科技有限公司</title>
		<meta name="description" content="一元科技集团是一家专业从事电源产品开发、生产、营销及服务的高新技术企业。目前公司拥有一元电气科技、浙江一元、温州一元进出口、丽水一元、深圳一元电气、深圳市一元科技、湖北一元科技等十大全资公司。主要生产经营稳压器（AVR）、逆变电源 （INV）、储能逆变一体机、储能变流器（PCS）、集装箱式储能柜、UPS不间断电源、EPS消防应急电源、风力光伏发电系统、变频器、MPPT太阳能控制器、调压器、变压器等系列产品。是国家高新技术企业、中国电气行业十大知名品牌，2017年度中国稳压器十大品牌 。" />
		<meta name="keywords" content="一元电气,一元电气官网,一元电气科技有限公司,一元科技集团官网,深圳一元,深圳一元电气,丽水一元,丽水一元电气,有源滤波器,静止无功发生器,混合型动态无功补偿装置,自动电压调节器,稳压器,储能一体机,储能系统,光储充,电池包,逆变器,太阳能控制器" />
		<link rel="shortcut icon" href="../../../static/favicon.ico" />
		<!-- 公样式 -->
		<link rel="stylesheet" type="text/css" href="../../../static/css/scrollbar.css" />
		<link rel="stylesheet" type="text/css" href="../../../static/css/public.css" />
		<link rel="stylesheet" type="text/css" href="../../../static/css/header.css" />
		<link rel="stylesheet" type="text/css" href="../../../static/css/footer.css" />
		<!-- 图标 -->
		<link rel="stylesheet" type="text/css" href="../../../static/css/iconfont.css" />
		<!-- 插件样式 -->
		<link rel="stylesheet" type="text/css" href="../../../plugins/animate.css/animate.min.css" />
		<link rel="stylesheet" type="text/css" href="../../../plugins/element-ui/index.css"/>
		<link rel="stylesheet" type="text/css" href="../../../plugins/swiper-5.4.5/package/css/swiper.min.css" />
		<!-- 页面样式 -->
		<link rel="stylesheet" type="text/css" href="../../../static/css/project/dnzl/ahf.css" />
		<script type="text/javascript">
			var level=2;
		</script>
	</head>
	<body>
		<!-- 头部开始 -->
		<yiy-header id="navHead"></yiy-header>
		<!-- 头部结束 -->
		<!-- 页面内容开始 -->
		<div id="appAhf" class="content">
			<!-- banner -->
			<div class="partBox">
				<div class="bgImg">
					<img src="../../../static/image/project/dnzl/ahf/banner.jpg" alt="" class="pc_txt" />
					<img src="../../../static/image/project/dnzl/ahf/m/banner.jpg" alt="" class="m_txt" />
				</div>
				<div class="centerBox_ab">
					<div class="bannerTitle">
						<h1 class="title_en see_fadeInUp">Active Harmonic Filters</h1>
						<p class="title_big see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">有源滤波器</p>
						<p class="title2 see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">解决电力系统中因谐波造成的种种问题,</p>
						<div class="title3 see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
							<span>使</span>
							<span>THDI＜5%</span>
						</div>
						<div class="redLine see_fadeInUpLine" data-wow-duration="1s" data-wow-delay="0.6s"></div>
					</div>
				</div>
			</div>
			<!-- banner结束 -->
			<!-- 2次-50次谐波补偿开始 -->
			<div class="partBox">
				<div class="bgImg xbBg">
					<img src="../../../static/image/project/dnzl/ahf/bg1.jpg" class="blockImg" alt="">
				</div>
				<div class="centerBox_ab partContent">
					<div class="leftBox">
						<p class="part_title  see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">2次~50次谐波补偿</p>
						<div class="part_redline  see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s"></div>
						<p class="part_title2  see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">YIY-AHF
							有源滤波器可以实现2次~50次谐波补偿，可自由设定每次的补偿率，输出补偿电流可随系统谐波含量的变化而变化，帮助你获得更好的电能质量。</p>
						<div class="rightMsg">
							<div class="redBox  see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s"></div>
							<p class="rightMsg_title  see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
								非正弦波分解的各次谐波含量</p>
							<div class="blueBox  see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s"></div>
							<p class="rightMsg_title  see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
								非正弦波分解的各次谐波含量</p>
						</div>
						<div class="part_img  see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s">
							<img src="../../../static/image/project/dnzl/ahf/p2.png" alt="">
						</div>
					</div>
					<div class="rightBox">
						<img src="../../../static/image/project/dnzl/ahf/p1.png">
						<span class="leftTxt txt1">周期性非正常弦波</span>
						<span class="leftTxt txt2">基波</span>
						<span class="leftTxt txt3">三次谐波</span>
						<span class="leftTxt txt4">五次谐波</span>
						<span class="leftTxt txt5">七次谐波</span>
						<span class="leftTxt txt6">九次谐波</span>
						<span class="rightTxt txt7">波形图</span>
						<span class="rightTxt txt8">频谱图</span>
					</div>
					<div class="xbImg m_txt see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
						<img src="../../../static/image/project/dnzl/ahf/m/p1.png">
					</div>
				</div>
			</div>
			<!-- 2次-50次谐波补偿结束 -->
			<!-- 实时动态补偿开始 -->
			<div class="ssdtBox">
				<div class="centerBox_ab partContent">
					<div class="leftBox_ssdt">
						<p class="ssdt_title  see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">实时动态补偿</p>
						<div class="part_redline  see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s"></div>
						<p class="ssdt_title2  see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
							YIY-AHF凭借超快的计算能力与超高的输出精度，可对电力系统中的谐波进行实时动态补偿，确保用户获得连续、稳定、无限接近最高能效的电力系统。</p>
					</div>
					<div class="rightBox_ssdt see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
						<img src="../../../static/image/project/dnzl/ahf/p3.gif" alt="">
						<span class="text_ssdt_left">谐波电流分解</span>
						<span class="text_ssdt_right">APF 输出补偿电流值</span>
					</div>
				</div>
			</div>
			<!-- 实时动态补偿结束 -->
			<!-- 系统结构图开始 -->
			<div class="jgtBox">
				<div class="bgImg jgtImg">
					<img src="../../../static/image/project/dnzl/ahf/bg2.jpg" alt="" class="blockImg">
				</div>
				<div class="centerBox_ab partContent">
					<div class="leftBox_jgt">
						<div class="leftBox_jgt_msg">
							<p class="ssdt_title  see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">系统拓扑图</p>
							<div class="part_redline  see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s"></div>
							<div class="jgt_txt_box">
								<div class="jgt_txt  see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
									<div class="redIcon">1</div>
									<span>通过CT感应器实时检测电力系统内的谐波电流</span>
								</div>
								<div class="jgt_txt  see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
									<div class="redIcon">2</div>
									<span>外接在电力系统</span>
								</div>
								<div class="jgt_txt  see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">
									<div class="redIcon">3</div>
									<span>并联式设计</span>
								</div>
							</div>
						</div>
					</div>
					<div class="rightBox_ssdt">
						<img src="../../../static/image/project/dnzl/ahf/p4.png" alt="">
					</div>
				</div>
			</div>
			<!-- 系统结构图结束 -->
			<!-- 模块化设计开始 -->
			<div class="mkhBox">
				<div class="mkhBox_left">
					<img src="../../../static/image/project/dnzl/ahf/p5.jpg" alt="">
				</div>
				<div class="mkhBox_right">
					<div class="mkhBox_right_msg">
						<p class="ssdt_title see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">模块化设计</p>
						<div class="part_redline see_fadeInUpLine" data-wow-duration="1s" data-wow-delay="0.4s"></div>
						<div class="mkhBox_right_msg_grid">
							<div class="mkhMsgItem see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
								<div class="mkhMsgItem_msg">
									<div class="mkhMsgItem_msg_icon">
										<i class="iconfont icon-youhuajiegou"></i>
									</div>
									<p class="mkhMsgItem_msg_title pc_txt">两式模块结构</p>
									<p class="mkhMsgItem_msg_title2 pc_txt">拥有机架式、壁挂式模块结构，可适用于空间有限的应用、改造项目</p>
									<div class="mkhMsgItem_msg_txt m_txt">
										<p class="mkhMsgItem_msg_title">两式模块结构</p>
										<p class="mkhMsgItem_msg_title2">拥有机架式、壁挂式模块结构，可适用于空间有限的应用、改造项目</p>
									</div>
								</div>
							</div>
							<div class="mkhMsgItem see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
								<div class="mkhMsgItem_msg">
									<div class="mkhMsgItem_msg_icon">
										<i class="iconfont icon-zhihuan"></i>
									</div>
									<p class="mkhMsgItem_msg_title pc_txt">运输和更换</p>
									<p class="mkhMsgItem_msg_title2 pc_txt">便于运输和更换,也更易于集成在机柜中</p>
									<div class="mkhMsgItem_msg_txt m_txt">
										<p class="mkhMsgItem_msg_title">运输和更换</p>
										<p class="mkhMsgItem_msg_title2">便于运输和更换,也更易于集成在机柜中</p>
									</div>
								</div>
							</div>
							<div class="mkhMsgItem see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">
								<div class="mkhMsgItem_msg">
									<div class="mkhMsgItem_msg_icon">
										<i class="iconfont icon-duozhongjingyinghetong"></i>
									</div>
									<p class="mkhMsgItem_msg_title pc_txt">多种容量模块</p>
									<p class="mkhMsgItem_msg_title2 pc_txt">多种容量模块，充分满足客户需求</p>
									<div class="mkhMsgItem_msg_txt m_txt">
										<p class="mkhMsgItem_msg_title">多种容量模块</p>
										<p class="mkhMsgItem_msg_title2">多种容量模块，充分满足客户需求</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 模块化设计结束 -->
			<!-- 独立风道设计开始 -->
			<div class="dlfdBox">
				<div class="bgImg dlfdBg">
					<img src="../../../static/image/project/dnzl/ahf/bg3.jpg" class="blockImg" alt="">
				</div>
				<div class="centerBox_ab partContent_dlfd">
					<p class="part_title_dlfd see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">独立风道设计</p>
					<div class="part_redline_dlfd see_fadeInUpLine" data-wow-duration="1s" data-wow-delay="0.4s"></div>
					<p class="part_title2_dlfd pc_txt see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
						上下分层设计，占据AHF大部分热量的IGBT散热器和电感，集中在下层，强制风冷，快速散热，</p>
					<p class="part_title2_dlfd pc_txt see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">不影响上层PCBA</p>
					<p class="part_title2_dlfd pc_txt see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">
						上层PCBA辅助风道设计，拓展散热通道，广角散热。</p>
					<p class="part_title2_dlfd m_txt see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
						上下分层设计，占据AHF大部分热量的IGBT散热器和电感，集中在下层，强制风冷，快速散热，不影响上层PCBA,上层PCBA辅助风道设计，拓展散热通道，广角散热。
					</p>
					
					<img src="../../../static/image/project/dnzl/ahf/p6.png" alt="" class="dlfdImg_pc  see_fadeInUp"
						data-wow-duration="1s" data-wow-delay="0.8s">
					
				</div>
				<img src="../../../static/image/project/dnzl/ahf/m/p2.png" alt="" class="dlfdImg_m see_fadeInUp"
					data-wow-duration="1s" data-wow-delay="0.8s">
			</div>
			<!-- 独立风道设计结束 -->
			<!-- 整体解决方案开始 -->
			<div class="ztjjfaBox">
				<div class="bgImg jjfaBg">
					<img src="../../../static/image/project/dnzl/ahf/bg4.jpg" class="blockImg" alt="">
				</div>
				<div class="centerBox_ab ">
					<div class="partContent_ztjjfa">
						<p class="part_title_ztjjfa see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">整体解决方案
						</p>
						<div class="part_redline_ztjjfa see_fadeInUpLine" data-wow-duration="1s" data-wow-delay="0.4s">
						</div>
						<p class="part_title2_ztjjfa pc_txt see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
							YIY拥有有源滤波器-AHF、静止无功发生器-SVG、自动电压调节器-AVC等产品，可为客户</p>
						<p class="part_title2_ztjjfa pc_txt see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
							提供更方便、更经济的电能质量整体解决方案。</p>
						<p class="part_title2_ztjjfa m_txt see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
							YIY拥有有源滤波器-AHF、静止无功发生器-SVG、自动电压调节器-AVC等产品，可为客户提供更方便、更经济的电能质量整体解决方案。</p>
						<div class="tabBox_ztjjfa">
							<div :class="actJjindex==0?'actItem':''" @click="actJjindex=0">源滤波器-AHF</div>
							<div :class="actJjindex==1?'actItem':''" @click="actJjindex=1">静止无功发生器-SVG</div>
							<div :class="actJjindex==2?'actItem':''" @click="actJjindex=2">自动电压调节器-AVC</div>
						</div>
						<div class="tabBox_ztjjfa2">
							<div :class="actJjindex==0?'actItem':''" @click="actJjindex=0">
								<p>AHF</p>
								<p>源滤波器</p>
							</div>
							<div :class="actJjindex==1?'actItem':''" @click="actJjindex=1">
								<p>SVG</p>
								<p>静止无功发生器</p>
							</div>
							<div :class="actJjindex==2?'actItem':''" @click="actJjindex=2">
								<p>AVC</p>
								<p>自动电压调节器</p>
							</div>
						</div>
						<div class="jjfaMsgBox">
							<!-- ahf开始 -->
							<div class="jjfaMsgBox_1" v-show="actJjindex==0">
								<div class="jjfaMsgBox_1_left">
									<p class="jjfaMsgBox_1_left_title1">并列式机柜</p>
									<p class="jjfaMsgBox_1_left_title2">解决大型工厂的大容量谐波问题</p>
									<div class="jjfaMsgBox_1_left_line"></div>
									<img src="../../../static/image/project/dnzl/ahf/ahf01.png"
										class="jjfaMsgBox_1_left_img jjfaImg" alt="">
								</div>
								<div class="jjfaMsgBox_1_right">
									<div class="jjfaMsgBox_1_right_top">
										<div class="jjfaMsgBox_1_right_top_txt">
											<p class="right_top_title1">机柜式模块</p>
											<p class="right_top_title2">可与其他模块组合，灵活解决您的电能质量问题</p>
											<div class="right_top_line"></div>
										</div>
										<img src="../../../static/image/project/dnzl/ahf/ahf02.png"
											class="right_top_img jjfaImg" alt="">
									</div>
									<div class="jjfaMsgBox_1_right_bottom">
										<img src="../../../static/image/project/dnzl/ahf/ahf03.png"
											class="right_bottom_img jjfaImg" alt="">
										<div class="jjfaMsgBox_1_right_bottom_txt">
											<p class="right_top_title1">壁挂式模块</p>
											<p class="right_top_title2">安装方便，灵活、性价比高</p>
											<div class="right_top_line"></div>
										</div>
									</div>
								</div>
							</div>
							<!-- 移动端开始-->
							<div class="jjfaMsgBox_1_m" v-show="actJjindex==0">
								<div class="jjfaMsgBox_1_m_top">
									<div class="jjfaMsgBox_1_m_top_l">
										<p class="jjfaMsgBox_1_left_title1">并列式机柜</p>
										<p class="jjfaMsgBox_1_left_title2">解决大型工厂的大容量谐波问题</p>
										<!-- <div class="jjfaMsgBox_1_left_line"></div> -->
										<img src="../../../static/image/project/dnzl/ahf/ahf01.png"
											class="jjfaMsgBox_1_left_img" alt="">
									</div>
									<div class="jjfaMsgBox_1_m_top_r">
										<div>
											<p class="jjfa_title_m">壁挂式模块</p>
											<p class="jjfa_subtitle_m">安装方便、灵活、性价比高</p>
											<!-- <div class="jjfaMsgBox_1_left_line"></div> -->
											<img src="../../../static/image/project/dnzl/ahf/m/p3.png" alt="">
										</div>
									</div>
								</div>
								<div class="jjfaMsgBox_1_m_bottom">
									<div class="jjfaMsgBox_1_m_bottom_txt">
										<p class="jjfa_title_m">机柜式模块</p>
										<p class="jjfa_subtitle_m">可与其他模块组合，灵活解决您的电能质量问题</p>
									</div>
									<img src="../../../static/image/project/dnzl/ahf/ahf02.png" alt="">
								</div>
							</div>
							<!-- 移动端结算 -->
							<!-- ahf结束 -->
							<!-- svg开始 -->
							<div class="jjfaMsgBox_1" v-show="actJjindex==1">
								<div class="jjfaMsgBox_1_left">
									<p class="jjfaMsgBox_1_left_title1">并列式机柜</p>
									<p class="jjfaMsgBox_1_left_title2">解决大型工厂的大容量谐波问题</p>
									<div class="jjfaMsgBox_1_left_line"></div>
									<img src="../../../static/image/project/dnzl/svg/svg01.png"
										class="jjfaMsgBox_1_left_img jjfaImg" alt="">
								</div>
								<div class="jjfaMsgBox_1_right">
									<div class="jjfaMsgBox_1_right_top">
										<div class="jjfaMsgBox_1_right_top_txt">
											<p class="right_top_title1">机柜式模块</p>
											<p class="right_top_title2">可与其他模块组合，灵活解决您的电能质量问题</p>
											<div class="right_top_line"></div>
										</div>
										<img src="../../../static/image/project/dnzl/ahf/ahf02.png"
											class="right_top_img jjfaImg" alt="">
									</div>
									<div class="jjfaMsgBox_1_right_bottom">
										<img src="../../../static/image/project/dnzl/ahf/ahf03.png"
											class="right_bottom_img jjfaImg" alt="">
										<div class="jjfaMsgBox_1_right_bottom_txt">
											<p class="right_top_title1">壁挂式模块</p>
											<p class="right_top_title2">安装方便，灵活、性价比高</p>
											<div class="right_top_line"></div>
										</div>
									</div>
								</div>
							</div>
							<!-- 移动端开始-->
							<div class="jjfaMsgBox_1_m" v-show="actJjindex==1">
								<div class="jjfaMsgBox_1_m_top">
									<div class="jjfaMsgBox_1_m_top_l">
										<p class="jjfaMsgBox_1_left_title1">并列式机柜</p>
										<p class="jjfaMsgBox_1_left_title2">解决大型工厂的大容量谐波问题</p>
									<!-- 	<div class="jjfaMsgBox_1_left_line"></div> -->
										<img src="../../../static/image/project/dnzl/svg/svg01.png"
											class="jjfaMsgBox_1_left_img" alt="">
									</div>
									<div class="jjfaMsgBox_1_m_top_r">
										<div>
											<p class="jjfa_title_m">壁挂式模块</p>
											<p class="jjfa_subtitle_m">安装方便、灵活、性价比高</p>
											<!-- <div class="jjfaMsgBox_1_left_line"></div> -->
											<img src="../../../static/image/project/dnzl/ahf/m/p3.png" alt="">
										</div>
									</div>
								</div>
								<div class="jjfaMsgBox_1_m_bottom">
									<div class="jjfaMsgBox_1_m_bottom_txt">
										<p class="jjfa_title_m">机柜式模块</p>
										<p class="jjfa_subtitle_m">可与其他模块组合，灵活解决您的电能质量问题</p>
									</div>
									<img src="../../../static/image/project/dnzl/ahf/ahf02.png" alt="">
								</div>
							</div>
							<!-- 移动端结算 -->
							<!-- svg结束 -->
							<!-- avc开始 -->
							<!-- avc开始 -->
							<div class="jjfaMsgBox_2" v-show="actJjindex==2">
								<div class="jjfaMsgBox_2_left">
									<p class="jjfaMsgBox_2_left_title">小型机柜，多种规格</p>
									<p class="jjfaMsgBox_2_left_subTitle">电压暂降校正、浪涌校正、连续电压调节和负载电压补偿。</p>
									<div class="grayLine"></div>
									<div class="jjfa_avc_icon" style="margin-top: auto;margin-bottom: 5px;">
										<img src="../../../static/image/project/dnzl/avc/p3.png" alt=""
											class="blockImg jjfaImg">
									</div>
								</div>
								<div class="jjfaMsgBox_2_right">
									<img src="../../../static/image/project/dnzl/avc/p4.png" alt="" class="blockImg jjfaImg">
								</div>
							</div>
							<!-- avc结束 -->
						</div>
					</div>
				</div>
			</div>
			<!-- 整体解决方案结束 -->
			
		</div>
		<!-- 页面内容结束 -->
		<!-- 联系我们开始 -->
		<div class="box100"  id="contactBox">
			<div class="contactBox">
				<div class="contact_left  see_fadeInUp">
					<p class="contact_title">联系我们</p>
					<div class="redLine_contact"></div>
					<p class="contact_txt">如果您有任何的需要，请随时与我们联系。</p>
					<div class="inputBox">
						<div class="inputItem ">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的姓名" v-model="userName" />
						</div>
						<div class="inputItem">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的公司" v-model="userCompany"/>
						</div>
						<div class="inputItem">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的电话" v-model="userPhone"/>
						</div>
						<div class="inputItem">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的邮箱" v-model="userMail"/>
						</div>
					</div>
					<div class="liuyan">
						<i class="iconfont icon-xinghao"></i>
						<textarea rows="" cols="" placeholder="请输入留言内容" v-model="userLy"></textarea>
					</div>
					<div class="btn_liuyan" @click="subLy()">提交留言</div>
				</div>
				<div class="contact_right  see_fadeInUp">
					<div class="contactTypeBox">
						<div class="telBox">
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon">
									<i class="iconfont icon-phone"></i>
								</div>
								<div class="contactTypeItem_msg">
									<p>销售热线</p>
									<p>{{telMsg.rexian}}</p>
								</div>
							</div>
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon">
									<i class="iconfont icon-yunchuanzhen"></i>
								</div>
								<div class="contactTypeItem_msg">
									<p>公司传真</p>
									<p>{{telMsg.chuanzhen}}</p>
								</div>
							</div>
						</div>
						<div class="addressBox">
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon">
									<i class="iconfont icon-dingweixiao"></i>
								</div>
								<div class="contactTypeItem_msg">
									<p>{{addressMsg[0].name}}</p>
									<p>{{addressMsg[0].add}}</p>
								</div>
							</div>
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon" style="opacity: 0;">
									<!-- <i class="iconfont icon-zuoji"></i> -->
								</div>
								<div class="contactTypeItem_msg">
									<p>{{addressMsg[1].name}}</p>
									<p>{{addressMsg[1].add}}</p>
								</div>
							</div>
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon" style="opacity: 0;">
									<!-- <i class="iconfont icon-zuoji"></i> -->
								</div>
								<div class="contactTypeItem_msg">
									<p>{{addressMsg[2].name}}</p>
									<p>{{addressMsg[2].add}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 联系我们结束 -->
		<!-- 去顶部按钮 -->
		<div class="toTopBtn" onclick="toTop()">
			<i class="iconfont icon-huidaodingbu"></i>
		</div>
		<!-- 底部开始 -->
		<yiy-footer id="navFooter"></yiy-footer>
		<!-- 底部结束 -->
		<!-- 脚本引入开始 -->
		<!-- 公共方法 -->
		<script src="../../../static/js/common.js" type="text/javascript" charset="utf-8"></script>
		<!-- 插件引入 -->
		<script src="../../../plugins/vue/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../plugins/element-ui/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../plugins/wow/wow.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../plugins/swiper-5.4.5/package/js/swiper.min.js" type="text/javascript" charset="utf-8">
		</script>
		<!-- 页面脚本引入 -->
		<script src="../../../static/js/header_new_l2.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../static/js/footer_l2.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../static/js/project/dnzl/ahf.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../static/js/public.js" type="text/javascript" charset="utf-8"></script>
		<!-- 脚本引入结束 -->
	</body>
</html>
