<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<!-- <base href="http://127.0.0.1:8848/yiyuan/"> -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>低压混合型动态无功补偿装置 | 一元电气科技有限公司</title>
		<meta name="description" content="一元科技集团是一家专业从事电源产品开发、生产、营销及服务的高新技术企业。目前公司拥有一元电气科技、浙江一元、温州一元进出口、丽水一元、深圳一元电气、深圳市一元科技、湖北一元科技等十大全资公司。主要生产经营稳压器（AVR）、逆变电源 （INV）、储能逆变一体机、储能变流器（PCS）、集装箱式储能柜、UPS不间断电源、EPS消防应急电源、风力光伏发电系统、变频器、MPPT太阳能控制器、调压器、变压器等系列产品。是国家高新技术企业、中国电气行业十大知名品牌，2017年度中国稳压器十大品牌 。" />
		<meta name="keywords" content="一元电气,一元电气官网,一元电气科技有限公司,一元科技集团官网,深圳一元,深圳一元电气,丽水一元,丽水一元电气,有源滤波器,静止无功发生器,混合型动态无功补偿装置,自动电压调节器,稳压器,储能一体机,储能系统,光储充,电池包,逆变器,太阳能控制器" />
		<link rel="shortcut icon" href="../../../static/favicon.ico" />
		<!-- 公样式 -->
		<link rel="stylesheet" type="text/css" href="../../../static/css/scrollbar.css" />
		<link rel="stylesheet" type="text/css" href="../../../static/css/public.css" />
		<link rel="stylesheet" type="text/css" href="../../../static/css/header.css" />
		<link rel="stylesheet" type="text/css" href="../../../static/css/footer.css" />
		<!-- 图标 -->
		<link rel="stylesheet" type="text/css" href="../../../static/css/iconfont.css" />
		<!-- 插件样式 -->
		<link rel="stylesheet" type="text/css" href="../../../plugins/animate.css/animate.min.css" />
		<link rel="stylesheet" type="text/css" href="../../../plugins/element-ui/index.css"/>
		<link rel="stylesheet" type="text/css" href="../../../plugins/swiper-5.4.5/package/css/swiper.min.css" />
		<!-- 页面样式 -->
		<link rel="stylesheet" type="text/css" href="../../../static/css/project/dnzl/csvg.css" />
		<script type="text/javascript">
			var level=2;
		</script>
	</head>
	<body>
		<!-- 头部开始 -->
		<yiy-header id="navHead"></yiy-header>
		<!-- 头部结束 -->
		<!-- 页面内容开始 -->
		<div id="appCsvg" class="content">
			<!-- banner -->
			<div class="partBox">
				<div class="bgImg">
					<img src="../../../static/image/project/dnzl/csvg/banner.jpg" class="pc_txt" alt="" />
					<img src="../../../static/image/project/dnzl/csvg/m/banner.jpg"  class="m_txt" alt="" />
				</div>
				<div class="centerBox_ab">
					<div class="bannerTitle">
						<p class="title_en see_fadeInUp">CSVG</p>
						<p class="title_big see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">低压混合型动态</p>
						<p class="title_big see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">无功补偿装置</p>
						<div class="title2 see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
							<span>高性价比功率因素校正方案</span>
							<span>PF达到0.99</span>
						</div>
						<div class="redLine see_fadeInUpLine" data-wow-duration="1s" data-wow-delay="0.6s"></div>
					</div>
				</div>
			</div>
			<!-- banner结束 -->
			<!-- 混合补偿开始 -->
			<div class="partBox">
				<div class="bgImg hhbcBg">
					<img src="../../../static/image/project/dnzl/csvg/bg1.jpg" class="blockImg" alt="">
				</div>
				<div class="centerBox_ab partContent_hhbc">
					<div class="txtBox_hhbc">
						<p class="txtBox_hhbc_title see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
							LC+SVG混合补偿</p>
						<div class="txtBox_hhbc_redline see_fadeInUpLine" data-wow-duration="1s" data-wow-delay="0.4s">
						</div>
						<p class="txtBox_hhbc_title2 pc_txt see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
							CSVG低压混合型动态无功补偿装置，在YIY-SVG静止无功发生器原理的基础</p>
						<p class="txtBox_hhbc_title3 pc_txt  see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
							上，将有源补偿与无源补偿有机结合，形成SVG + TSC混合补偿方案。</p>
						<p class="txtBox_hhbc_title3 pc_txt   see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">
							在保证快速响应的同时降低装置成本。</p>
						<p class="m_txt txtBox_hhbc_title2">CSVG低压混合型动态无功补偿装置，在YIY-SVG静止无功发生器原理的基础上，将有源补偿与无源补偿有机结合，形成SVG + TSC混合补偿方案。在保证快速响应的同时降低装置成本。</p>
					</div>
					<div class="imgBox_hhbc">
						<div class="leftImgBox see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" >
							<img src="../../../static/image/project/dnzl/csvg/p1.png" alt="">
							<span>传统的LC无功补偿方案</span>
							<span>无功功率</span>
							<span>LC补偿容量</span>
							<div class="bootTxtBox bottomTxt1">
								<p>容易欠补过补</p>
								<p>容易造成补偿不连续</p>
							</div>
						</div>
						<div class="rightImgBox see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
							<img src="../../../static/image/project/dnzl/csvg/p2.png" alt="">
							<span>CSVG无功补偿方案</span>
							<span>无功功率</span>
							<span>LC补偿容量</span>
							<span>SVG补偿容量</span>
							<div class="bootTxtBox bottomTxt2">
								<p>采用LC进行分级开关补偿</p>
								<p>SVG模块用于盲点覆盖，无极切换</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 混合补偿结束 -->
			<!-- 快速响应开始 -->
			<div class="ksxyBox">
				<p class="txt_title1 blackTxt see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
					快速响应&nbsp;&nbsp;&nbsp;无功补偿率99%</p>
				<p class="txt_title1 blackTxt see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">目标功率因数范围-1~1
				</p>
				<div class="ksxy_imgBox see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
					<img src="../../../static/image/project/dnzl/csvg/p3.png" class="blockImg" alt="">
				</div>
			</div>
			<!-- 快速响应结束 -->
			<!-- 典型设计方案开始 -->
			<div class="partBox">
				<div class="bgImg sjfaBg">
					<img src="../../../static/image/project/dnzl/csvg/bg2.jpg" class="blockImg" alt="">
				</div>
				<div class="centerBox_ab sjfaBox">
					<div class="sjfaBox_msg">
						<div class="sjfaBox_msg_left">
							<p class="txt_title1 blackTxt see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
								YIY-CSGV典型设计方案</p>
							<div class="redLine_normal see_fadeInUpLine" data-wow-duration="1s" data-wow-delay="0.4s">
							</div>
							<p class="txt_subtitle1 firstTitle see_fadeInUp" data-wow-duration="1s"
								data-wow-delay="0.5s">能够添加不等容功率模块进行扩容</p>
							<p class="txt_subtitle1 see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">不用安装新的CT
							</p>
							<p class="txt_subtitle1 lastTitle see_fadeInUp" data-wow-duration="1s"
								data-wow-delay="0.7s">并联台数不限</p>
						</div>
						<div class="sjfaBox_msg_right see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
							<img src="../../../static/image/project/dnzl/csvg/p4.png" class="blockImg" alt="">
						</div>
					</div>
				</div>
			</div>
			<!-- 典型设计方案结束 -->
			<!-- 整体解决方案开始 -->
			<div class="ztjjfaBox">
				<div class="bgImg jjfaBg">
					<img src="../../../static/image/project/dnzl/ahf/bg4.jpg" class="blockImg" alt="">
				</div>
				<div class="centerBox_ab ">
					<div class="partContent_ztjjfa">
						<p class="part_title_ztjjfa see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">整体解决方案
						</p>
						<div class="part_redline_ztjjfa see_fadeInUpLine" data-wow-duration="1s" data-wow-delay="0.4s">
						</div>
						<p class="part_title2_ztjjfa pc_txt see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
							YIY拥有有源滤波器-AHF、静止无功发生器-SVG、自动电压调节器-AVC等产品，可为客户</p>
						<p class="part_title2_ztjjfa pc_txt see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
							提供更方便、更经济的电能质量整体解决方案。</p>
						<p class="part_title2_ztjjfa m_txt see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
							YIY拥有有源滤波器-AHF、静止无功发生器-SVG、自动电压调节器-AVC等产品，可为客户提供更方便、更经济的电能质量整体解决方案。</p>
						<div class="tabBox_ztjjfa">
							<div :class="actJjindex==0?'actItem':''" @click="actJjindex=0">源滤波器-AHF</div>
							<div :class="actJjindex==1?'actItem':''" @click="actJjindex=1">静止无功发生器-SVG</div>
							<div :class="actJjindex==2?'actItem':''" @click="actJjindex=2">自动电压调节器-AVC</div>
						</div>
						<div class="tabBox_ztjjfa2">
							<div :class="actJjindex==0?'actItem':''" @click="actJjindex=0">
								<p>AHF</p>
								<p>源滤波器</p>
							</div>
							<div :class="actJjindex==1?'actItem':''" @click="actJjindex=1">
								<p>SVG</p>
								<p>静止无功发生器</p>
							</div>
							<div :class="actJjindex==2?'actItem':''" @click="actJjindex=2">
								<p>AVC</p>
								<p>自动电压调节器</p>
							</div>
						</div>
						<div class="jjfaMsgBox">
							<!-- ahf开始 -->
							<div class="jjfaMsgBox_1" v-show="actJjindex==0">
								<div class="jjfaMsgBox_1_left">
									<p class="jjfaMsgBox_1_left_title1">并列式机柜</p>
									<p class="jjfaMsgBox_1_left_title2">解决大型工厂的大容量谐波问题</p>
									<div class="jjfaMsgBox_1_left_line"></div>
									<img src="../../../static/image/project/dnzl/ahf/ahf01.png"
										class="jjfaMsgBox_1_left_img jjfaImg" alt="">
								</div>
								<div class="jjfaMsgBox_1_right">
									<div class="jjfaMsgBox_1_right_top">
										<div class="jjfaMsgBox_1_right_top_txt">
											<p class="right_top_title1">机柜式模块</p>
											<p class="right_top_title2">可与其他模块组合，灵活解决您的电能质量问题</p>
											<div class="right_top_line"></div>
										</div>
										<img src="../../../static/image/project/dnzl/ahf/ahf02.png"
											class="right_top_img jjfaImg" alt="">
									</div>
									<div class="jjfaMsgBox_1_right_bottom">
										<img src="../../../static/image/project/dnzl/ahf/ahf03.png"
											class="right_bottom_img jjfaImg" alt="">
										<div class="jjfaMsgBox_1_right_bottom_txt">
											<p class="right_top_title1">壁挂式模块</p>
											<p class="right_top_title2">安装方便，灵活、性价比高</p>
											<div class="right_top_line"></div>
										</div>
									</div>
								</div>
							</div>
							<!-- 移动端开始-->
							<div class="jjfaMsgBox_1_m" v-show="actJjindex==0">
								<div class="jjfaMsgBox_1_m_top">
									<div class="jjfaMsgBox_1_m_top_l">
										<p class="jjfaMsgBox_1_left_title1">并列式机柜</p>
										<p class="jjfaMsgBox_1_left_title2">解决大型工厂的大容量谐波问题</p>
										<!-- <div class="jjfaMsgBox_1_left_line"></div> -->
										<img src="../../../static/image/project/dnzl/ahf/ahf01.png"
											class="jjfaMsgBox_1_left_img" alt="">
									</div>
									<div class="jjfaMsgBox_1_m_top_r">
										<div>
											<p class="jjfa_title_m">壁挂式模块</p>
											<p class="jjfa_subtitle_m">安装方便、灵活、性价比高</p>
											<!-- <div class="jjfaMsgBox_1_left_line"></div> -->
											<img src="../../../static/image/project/dnzl/ahf/m/p3.png" alt="">
										</div>
									</div>
								</div>
								<div class="jjfaMsgBox_1_m_bottom">
									<div class="jjfaMsgBox_1_m_bottom_txt">
										<p class="jjfa_title_m">机柜式模块</p>
										<p class="jjfa_subtitle_m">可与其他模块组合，灵活解决您的电能质量问题</p>
									</div>
									<img src="../../../static/image/project/dnzl/ahf/ahf02.png" alt="">
								</div>
							</div>
							<!-- 移动端结算 -->
							<!-- ahf结束 -->
							<!-- svg开始 -->
							<div class="jjfaMsgBox_1" v-show="actJjindex==1">
								<div class="jjfaMsgBox_1_left">
									<p class="jjfaMsgBox_1_left_title1">并列式机柜</p>
									<p class="jjfaMsgBox_1_left_title2">解决大型工厂的大容量谐波问题</p>
									<div class="jjfaMsgBox_1_left_line"></div>
									<img src="../../../static/image/project/dnzl/svg/svg01.png"
										class="jjfaMsgBox_1_left_img jjfaImg" alt="">
								</div>
								<div class="jjfaMsgBox_1_right">
									<div class="jjfaMsgBox_1_right_top">
										<div class="jjfaMsgBox_1_right_top_txt">
											<p class="right_top_title1">机柜式模块</p>
											<p class="right_top_title2">可与其他模块组合，灵活解决您的电能质量问题</p>
											<div class="right_top_line"></div>
										</div>
										<img src="../../../static/image/project/dnzl/ahf/ahf02.png"
											class="right_top_img jjfaImg" alt="">
									</div>
									<div class="jjfaMsgBox_1_right_bottom">
										<img src="../../../static/image/project/dnzl/ahf/ahf03.png"
											class="right_bottom_img jjfaImg" alt="">
										<div class="jjfaMsgBox_1_right_bottom_txt">
											<p class="right_top_title1">壁挂式模块</p>
											<p class="right_top_title2">安装方便，灵活、性价比高</p>
											<div class="right_top_line"></div>
										</div>
									</div>
								</div>
							</div>
							<!-- 移动端开始-->
							<div class="jjfaMsgBox_1_m" v-show="actJjindex==1">
								<div class="jjfaMsgBox_1_m_top">
									<div class="jjfaMsgBox_1_m_top_l">
										<p class="jjfaMsgBox_1_left_title1">并列式机柜</p>
										<p class="jjfaMsgBox_1_left_title2">解决大型工厂的大容量谐波问题</p>
									<!-- 	<div class="jjfaMsgBox_1_left_line"></div> -->
										<img src="../../../static/image/project/dnzl/svg/svg01.png"
											class="jjfaMsgBox_1_left_img" alt="">
									</div>
									<div class="jjfaMsgBox_1_m_top_r">
										<div>
											<p class="jjfa_title_m">壁挂式模块</p>
											<p class="jjfa_subtitle_m">安装方便、灵活、性价比高</p>
											<!-- <div class="jjfaMsgBox_1_left_line"></div> -->
											<img src="../../../static/image/project/dnzl/ahf/m/p3.png" alt="">
										</div>
									</div>
								</div>
								<div class="jjfaMsgBox_1_m_bottom">
									<div class="jjfaMsgBox_1_m_bottom_txt">
										<p class="jjfa_title_m">机柜式模块</p>
										<p class="jjfa_subtitle_m">可与其他模块组合，灵活解决您的电能质量问题</p>
									</div>
									<img src="../../../static/image/project/dnzl/ahf/ahf02.png" alt="">
								</div>
							</div>
							<!-- 移动端结算 -->
							<!-- svg结束 -->
							<!-- avc开始 -->
							<div class="jjfaMsgBox_2" v-show="actJjindex==2">
								<div class="jjfaMsgBox_2_left">
									<p class="jjfaMsgBox_2_left_title">小型机柜，多种规格</p>
									<p class="jjfaMsgBox_2_left_subTitle">电压暂降校正、浪涌校正、连续电压调节和负载电压补偿。</p>
									<div class="grayLine"></div>
									<div class="jjfa_avc_icon" style="margin-top: auto;margin-bottom: 5px;">
										<img src="../../../static/image/project/dnzl/avc/p3.png" alt=""
											class="blockImg jjfaImg">
									</div>
								</div>
								<div class="jjfaMsgBox_2_right">
									<img src="../../../static/image/project/dnzl/avc/p4.png" alt="" class="blockImg jjfaImg">
								</div>
							</div>
							<!-- avc结束 -->
						</div>
					</div>
				</div>
			</div>
			<!-- 整体解决方案结束 -->
			<!-- 参数开始 -->
			<div class="partBox">
				<div class="bgImg bzmkBg">
					<img src="../../../static/image/project/dnzl/sbw/bg4.jpg" class="blockImg" alt="">
				</div>
				<div class="centerBox_bzmk">
					<div class="bzmk_left  see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
						<div class="bzmk_left_msg">
							<p class="bzmk_left_msg_title">YIY-CSVG参数</p>
							<div class="bzmk_left_msg_redline"></div>
							<div class="cs_msg_box">
								<div class="msg_item">
									<span class="msg_item_name">额定电压：</span>
									<span class="msg_item_val">AC380V(-20%~+20%)</span>
								</div>
								<div class="msg_item">
									<span class="msg_item_name">额定频率：</span>
									<span class="msg_item_val">50Hz±5%</span>
								</div>
								<div class="msg_item">
									<span class="msg_item_name">响应时间：</span>
									<span class="msg_item_val">≤10ms</span>
								</div>
								<div class="msg_item">
									<span class="msg_item_name">无功补偿率：</span>
									<span class="msg_item_val">≥99%</span>
								</div>
								<div class="msg_item2">
									<span class="msg_item_name">补偿容量：</span>
									<span class="msg_item_val">200KVAR&nbsp;&nbsp;250KVAR&nbsp;&nbsp;300KVAR</span>
									<span class="msg_item_val">350KVAR&nbsp;&nbsp;400KVAR</span>
								</div>
								<div class="msg_item2">
									<span class="msg_item_name">通讯方式：</span>
									<span class="msg_item_val">2路RS485通讯接口</span>
									<span class="msg_item_val">USB接口（支持GPRS/WIFI无线通讯）</span>
								</div>
							</div>
						</div>
					</div>
					<div class="bzmk_right see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
						<img src="../../../static/image/project/dnzl/csvg/p5.png" alt="" class="rightImg">
					</div>
				</div>
			</div>
			<div class="bzmk_left_m  see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
				<div class="bzmk_left_msg">
					<p class="bzmk_left_msg_title">YIY-CSVG参数</p>
					<div class="bzmk_left_msg_redline"></div>
					<div class="cs_msg_box">
						<div class="msg_item">
							<span class="msg_item_name">额定电压：</span>
							<span class="msg_item_val">AC380V(-20%~+20%)</span>
						</div>
						<div class="msg_item">
							<span class="msg_item_name">额定频率：</span>
							<span class="msg_item_val">50Hz±5%</span>
						</div>
						<div class="msg_item">
							<span class="msg_item_name">响应时间：</span>
							<span class="msg_item_val">≤10ms</span>
						</div>
						<div class="msg_item">
							<span class="msg_item_name">无功补偿率：</span>
							<span class="msg_item_val">≥99%</span>
						</div>
						<div class="msg_item2">
							<span class="msg_item_name">补偿容量：</span>
							<span class="msg_item_val">200KVAR&nbsp;&nbsp;250KVAR&nbsp;&nbsp;300KVAR&nbsp;&nbsp;350KVAR&nbsp;&nbsp;400KVAR</span>
							<span class="msg_item_val"></span>
						</div>
						<div class="msg_item2">
							<span class="msg_item_name">通讯方式：</span>
							<span class="msg_item_val">2路RS485通讯接口</span>
							<span class="msg_item_val">USB接口（支持GPRS/WIFI无线通讯）</span>
						</div>
					</div>
				</div>
			</div>
			<!-- 参数结束 -->
			
		</div>
		<!-- 页面内容结束 -->
		<!-- 联系我们开始 -->
		<div class="box100"  id="contactBox">
			<div class="contactBox">
				<div class="contact_left  see_fadeInUp">
					<p class="contact_title">联系我们</p>
					<div class="redLine_contact"></div>
					<p class="contact_txt">如果您有任何的需要，请随时与我们联系。</p>
					<div class="inputBox">
						<div class="inputItem ">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的姓名" v-model="userName" />
						</div>
						<div class="inputItem">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的公司" v-model="userCompany"/>
						</div>
						<div class="inputItem">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的电话" v-model="userPhone"/>
						</div>
						<div class="inputItem">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的邮箱" v-model="userMail"/>
						</div>
					</div>
					<div class="liuyan">
						<i class="iconfont icon-xinghao"></i>
						<textarea rows="" cols="" placeholder="请输入留言内容" v-model="userLy"></textarea>
					</div>
					<div class="btn_liuyan" @click="subLy()">提交留言</div>
				</div>
				<div class="contact_right see_fadeInUp">
					<div class="contactTypeBox">
						<div class="telBox">
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon">
									<i class="iconfont icon-phone"></i>
								</div>
								<div class="contactTypeItem_msg">
									<p>销售热线</p>
									<p>{{telMsg.rexian}}</p>
								</div>
							</div>
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon">
									<i class="iconfont icon-yunchuanzhen"></i>
								</div>
								<div class="contactTypeItem_msg">
									<p>公司传真</p>
									<p>{{telMsg.chuanzhen}}</p>
								</div>
							</div>
						</div>
						<div class="addressBox">
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon">
									<i class="iconfont icon-dingweixiao"></i>
								</div>
								<div class="contactTypeItem_msg">
									<p>{{addressMsg[0].name}}</p>
									<p>{{addressMsg[0].add}}</p>
								</div>
							</div>
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon" style="opacity: 0;">
									<!-- <i class="iconfont icon-zuoji"></i> -->
								</div>
								<div class="contactTypeItem_msg">
									<p>{{addressMsg[1].name}}</p>
									<p>{{addressMsg[1].add}}</p>
								</div>
							</div>
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon" style="opacity: 0;">
									<!-- <i class="iconfont icon-zuoji"></i> -->
								</div>
								<div class="contactTypeItem_msg">
									<p>{{addressMsg[2].name}}</p>
									<p>{{addressMsg[2].add}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 联系我们结束 -->
		<!-- 去顶部按钮 -->
		<div class="toTopBtn" onclick="toTop()">
			<i class="iconfont icon-huidaodingbu"></i>
		</div>
		<!-- 底部开始 -->
		<yiy-footer id="navFooter"></yiy-footer>
		<!-- 底部结束 -->
		<!-- 脚本引入开始 -->
		<!-- 公共方法 -->
		<script src="../../../static/js/common.js" type="text/javascript" charset="utf-8"></script>
		<!-- 插件引入 -->
		<script src="../../../plugins/vue/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../plugins/element-ui/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../plugins/wow/wow.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../plugins/swiper-5.4.5/package/js/swiper.min.js" type="text/javascript" charset="utf-8">
		</script>
		<!-- 页面脚本引入 -->
		<script src="../../../static/js/header_new_l2.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../static/js/footer_l2.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../static/js/project/dnzl/csvg.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../static/js/public.js" type="text/javascript" charset="utf-8"></script>
		<!-- 脚本引入结束 -->
	</body>
</html>
