<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<!-- <base href="http://127.0.0.1:8848/yiyuan/"> -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>三项全自动补偿式电力稳压器 | 一元电气科技有限公司</title>
		<meta name="description" content="一元科技集团是一家专业从事电源产品开发、生产、营销及服务的高新技术企业。目前公司拥有一元电气科技、浙江一元、温州一元进出口、丽水一元、深圳一元电气、深圳市一元科技、湖北一元科技等十大全资公司。主要生产经营稳压器（AVR）、逆变电源 （INV）、储能逆变一体机、储能变流器（PCS）、集装箱式储能柜、UPS不间断电源、EPS消防应急电源、风力光伏发电系统、变频器、MPPT太阳能控制器、调压器、变压器等系列产品。是国家高新技术企业、中国电气行业十大知名品牌，2017年度中国稳压器十大品牌 。" />
		<meta name="keywords" content="一元电气,一元电气官网,一元电气科技有限公司,一元科技集团官网,深圳一元,深圳一元电气,丽水一元,丽水一元电气,有源滤波器,静止无功发生器,混合型动态无功补偿装置,自动电压调节器,稳压器,储能一体机,储能系统,光储充,电池包,逆变器,太阳能控制器" />
		<link rel="shortcut icon" href="../../../static/favicon.ico" />
		<!-- 公样式 -->
		<link rel="stylesheet" type="text/css" href="../../../static/css/scrollbar.css"/>
		<link rel="stylesheet" type="text/css" href="../../../static/css/public.css" />
		<link rel="stylesheet" type="text/css" href="../../../static/css/header.css" />
		<link rel="stylesheet" type="text/css" href="../../../static/css/footer.css" />
		<!-- 图标 -->
		<link rel="stylesheet" type="text/css" href="../../../static/css/iconfont.css" />
		<!-- 插件样式 -->
		<link rel="stylesheet" type="text/css" href="../../../plugins/animate.css/animate.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../../plugins/element-ui/index.css"/>
		<link rel="stylesheet" type="text/css" href="../../../plugins/swiper-5.4.5/package/css/swiper.min.css" />
		<!-- 页面样式 -->
		<link rel="stylesheet" type="text/css" href="../../../static/css/project/dnzl/sbw.css" />
		<script type="text/javascript">
			var level=2;
		</script>
	</head>
	<body>
		<!-- 头部开始 -->
		<yiy-header id="navHead"></yiy-header>
		<!-- 头部结束 -->
		<!-- 页面内容开始 -->
		<div id="appSbw" class="content">
			<!-- banner -->
			<div class="partBox">
				<div class="bannerBg bgImg">
					<img src="../../../static/image/project/dnzl/sbw/banner.jpg" class="pc_txt" alt="" />
					<img src="../../../static/image/project/dnzl/sbw/m/banner.jpg"  class="m_txt" alt="" />
				</div>
				<div class="centerBox_ab">
					<div class="bannerTitle">
						<div class="title_en_Box see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s"><h1 class="title_en">SBW</h1>三项全自动补偿式电力稳压器</div>
						<p class="title_big pc_txt see_fadeInUp"  data-wow-duration="1s" data-wow-delay="0.4s" >电压不稳定的理想解决方案</p>
						<div class="title_en_Box_m see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s"><h1 class="title_en">SBW</h1>三项全自动补偿式</div>
						<p class="title_big m_txt see_fadeInUp"  data-wow-duration="1s" data-wow-delay="0.4s">电力稳压器</p>
						<p class="title_22 m_txt see_fadeInUp"  data-wow-duration="1s" data-wow-delay="0.5s">电压不稳定的理想解决方案</p>
					</div>
				</div>
			</div>
			<!-- banner结束 -->
			<!-- 板块1 -->
			<div class="partBox">
				<div class="bk1Title">
					<div class="title_en_white see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">高效稳压</div>
					<p class="title_big_white see_fadeInUp pc_txt"  data-wow-duration="1s" data-wow-delay="0.4s" >稳压范围304V~456V&ensp;&ensp;稳压精度±3%</p>
					<p class="title_big_white see_fadeInUp m_txt" data-wow-duration="1s" data-wow-delay="0.4s">稳压范围304V~456V</p>
					<p class="title_big_white see_fadeInUp m_txt" data-wow-duration="1s" data-wow-delay="0.5s">稳压精度±3%</p>
					<div class="redLine2_normal"></div>
				</div>
				<div class="bgImg bk1Bg">
					<img src="../../../static/image/project/dnzl/sbw/bg1.jpg" alt="" class="blockImg">
				</div>
				<div class="bolangBox">
					<div class="bolang_left">
						<div class="swiper_bl_left ">
						      <div class="swiper-wrapper">
						        <div class="swiper-slide"><img src="../../../static/image/project/dnzl/sbw/bolang1.png" alt=""></div>
								<div class="swiper-slide"><img src="../../../static/image/project/dnzl/sbw/bolang1.png" alt=""></div>
								<div class="swiper-slide"><img src="../../../static/image/project/dnzl/sbw/bolang1.png" alt=""></div>
						      </div>
						</div>
					</div>
					<div class="bolang_right">
						
						<div class="swiper_bl_left">
						      <div class="swiper-wrapper">
						        <div class="swiper-slide"><img src="../../../static/image/project/dnzl/sbw/bolang2.png" alt=""></div>
								<div class="swiper-slide"><img src="../../../static/image/project/dnzl/sbw/bolang2.png" alt=""></div>
								<div class="swiper-slide"><img src="../../../static/image/project/dnzl/sbw/bolang2.png" alt=""></div>
						      </div>
						</div>
					</div>
					<div class="projectImgBox">
						<img src="../../../static/image/project/dnzl/sbw/800K3.png" alt="">
					</div>
					<div class="lineBox">
						<img src="../../../static/image/project/dnzl/sbw/line.png" >
					</div>
				</div>
			</div>
			<!-- 板块1结束 -->
			<!-- 板块2开始 -->
			<div class="partBox">
				<div class="bgImg bk2Bg">
					<img src="../../../static/image/project/dnzl/sbw/bg2.jpg" class="blockImg" alt="">
				</div>
				<div class="centerBox_ab bk2MsgBox">
					<div class="select_left">
						<h1 class="title1_select">50KVA~3000KVA</h1>
						<h1 class="title2_select">可通过并机使规格达到最大3000KVA</h1>
						<div class="redLine_select"></div>
						<div class="sbwList">
							<span :class="index==actIndex?'sbwItem actItem':'sbwItem'" v-for="(item,index) in sbwList" :key="index" @click="actIndex=index">
								{{item.name}}
							</span>
						</div>
						<div class="switchBox">
							<div :class="actIndex>0?'switch_left actBox':'switch_left'" @click="reduceIndex()">
								<i class="iconfont icon-fanhui"></i>
							</div>
							<div :class="actIndex < (sbwList.length-1)?'switch_right actBox':'switch_right'"  @click="addIndex()">
								<i class="iconfont icon-gengduo"></i>
							</div>
						</div>
					</div>
					<div class="select_right">
						<img :src="sbwList[actIndex].img" alt="" class="rightImg">
					</div>
				</div>
			</div>
			<!-- 板块2结束 -->
			<!-- 板块3开始 -->
			<div class="partBox">
				<div class="bgImg bk3Bg">
					<img src="../../../static/image/project/dnzl/sbw/bg4.jpg" alt="" class="blockImg">
				</div>
				<div class="centerBox_p3">
					<div class="p3_left">
						<div class="p3_left_msg">
							<p class="p3_left_msg_title">{{waiguanList[waiguanIndex].name}}</p>
							<div class="p3_left_msg_redline"></div>
							<div class="p3_left_msg_canshu">
								<div class="msg_canshu_item" v-for="(item_cs,index_cs) in waiguanList[waiguanIndex].canshu" :key="index_cs">
									<span>{{item_cs.name}}：</span>
									<span>{{item_cs.val}}</span>
								</div>
							</div>
							<div class="p3_left_msg_guige">
								<div class="guige_item">
									<div>规格</div>
									<div>尺寸</div>
								</div>
								<div class="guige_item" v-for="(item_gg,index_gg) in waiguanList[waiguanIndex].guige">
									<div>{{item_gg.guige}}</div>
									<div>{{item_gg.chicun}}</div>
								</div>
							</div>
							
						</div>
						<div class="switchBox box2">
							<div :class="waiguanIndex>0?'switch_left actBox':'switch_left'" @click="reduceWgIndex()">
								<i class="iconfont icon-fanhui"></i>
							</div>
							<div :class="waiguanIndex < (waiguanList.length-1)?'switch_right actBox':'switch_right'"  @click="addWgIndex()">
								<i class="iconfont icon-gengduo"></i>
							</div>
						</div>
					</div>
					<div class="selectBox_m">
						<div :class="waiguanIndex>0?' switch_l_m actBox':' switch_l_m'" @click="reduceWgIndex()">
							<i class="iconfont icon-fanhui"></i>
						</div>
						<div :class="waiguanIndex < (waiguanList.length-1)?' switch_r_m actBox':' switch_r_m'"  @click="addWgIndex()">
							<i class="iconfont icon-gengduo"></i>
						</div>
					</div>
					<div class="p3_right">
						<img :src="waiguanList[waiguanIndex].img" alt="" class="rightImg">
					</div>
				</div>
			</div>
			<div class="bk3MsgBox_m">
					<div class="p3_left_msg">
						<p class="p3_left_msg_title">{{waiguanList[waiguanIndex].name}}</p>
						<div class="p3_left_msg_redline"></div>
						<div class="p3_left_msg_canshu">
							<div class="msg_canshu_item" v-for="(item_cs,index_cs) in waiguanList[waiguanIndex].canshu" :key="index_cs">
								<span>{{item_cs.name}}：</span>
								<span>{{item_cs.val}}</span>
							</div>
						</div>
						<div class="p3_left_msg_guige">
							<div class="guige_item">
								<div>规格</div>
								<div>尺寸</div>
							</div>
							<div class="guige_item" v-for="(item_gg,index_gg) in waiguanList[waiguanIndex].guige">
								<div>{{item_gg.guige}}</div>
								<div>{{item_gg.chicun}}</div>
							</div>
						</div>
						
					</div>
			</div>
			<!-- 板块3结束 -->
			
		</div>
		<!-- 页面内容结束 -->
		<!-- 联系我们开始 -->
		<div class="box100" id="contactBox">
			<div class="contactBox">
				<div class="contact_left see_fadeInLeft">
					<p class="contact_title">联系我们</p>
					<div class="redLine_contact"></div>
					<p class="contact_txt">如果您有任何的需要，请随时与我们联系。</p>
					<div class="inputBox">
						<div class="inputItem">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的姓名" v-model="userName" />
						</div>
						<div class="inputItem">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的公司" v-model="userCompany"/>
						</div>
						<div class="inputItem">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的电话" v-model="userPhone"/>
						</div>
						<div class="inputItem">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的邮箱" v-model="userMail"/>
						</div>
					</div>
					<div class="liuyan">
						<i class="iconfont icon-xinghao"></i>
						<textarea rows="" cols="" placeholder="请输入留言内容" v-model="userLy"></textarea>
					</div>
					<div class="btn_liuyan" @click="subLy()">提交留言</div>
				</div>
				<div class="contact_right see_fadeInRight">
					<div class="contactTypeBox">
						<div class="telBox">
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon">
									<i class="iconfont icon-phone"></i>
								</div>
								<div class="contactTypeItem_msg">
									<p>销售热线</p>
									<p>{{telMsg.rexian}}</p>
								</div>
							</div>
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon">
									<i class="iconfont icon-yunchuanzhen"></i>
								</div>
								<div class="contactTypeItem_msg">
									<p>公司传真</p>
									<p>{{telMsg.chuanzhen}}</p>
								</div>
							</div>
						</div>
						<div class="addressBox">
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon">
									<i class="iconfont icon-dingweixiao"></i>
								</div>
								<div class="contactTypeItem_msg">
									<p>{{addressMsg[0].name}}</p>
									<p>{{addressMsg[0].add}}</p>
								</div>
							</div>
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon" style="opacity: 0;">
									<!-- <i class="iconfont icon-zuoji"></i> -->
								</div>
								<div class="contactTypeItem_msg">
									<p>{{addressMsg[1].name}}</p>
									<p>{{addressMsg[1].add}}</p>
								</div>
							</div>
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon" style="opacity: 0;">
									<!-- <i class="iconfont icon-zuoji"></i> -->
								</div>
								<div class="contactTypeItem_msg">
									<p>{{addressMsg[2].name}}</p>
									<p>{{addressMsg[2].add}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 联系我们结束 -->
		<!-- 去顶部按钮 -->
		<div class="toTopBtn" onclick="toTop()">
			<i class="iconfont icon-huidaodingbu"></i>
		</div>
		<!-- 底部开始 -->
		<yiy-footer id="navFooter"></yiy-footer>
		<!-- 底部结束 -->
		<!-- 脚本引入开始 -->
		<!-- 公共方法 -->
		<script src="../../../static/js/common.js" type="text/javascript" charset="utf-8"></script>
		<!-- 插件引入 -->
		<script src="../../../plugins/vue/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../plugins/element-ui/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../plugins/wow/wow.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../plugins/swiper-5.4.5/package/js/swiper.min.js" type="text/javascript" charset="utf-8">
		</script>
		<!-- 页面脚本引入 -->
		<script src="../../../static/js/header_new_l2.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../static/js/footer_l2.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../static/js/project/dnzl/sbw.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../static/js/public.js" type="text/javascript" charset="utf-8"></script>
		<!-- 脚本引入结束 -->
	</body>
</html>
