<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<!-- <base href="http://127.0.0.1:8848/yiyuan/"> -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>走进一元 | 一元电气科技有限公司</title>
		<meta name="description" content="一元科技集团是一家专业从事电源产品开发、生产、营销及服务的高新技术企业。目前公司拥有一元电气科技、浙江一元、温州一元进出口、丽水一元、深圳一元电气、深圳市一元科技、湖北一元科技等十大全资公司。主要生产经营稳压器（AVR）、逆变电源 （INV）、储能逆变一体机、储能变流器（PCS）、集装箱式储能柜、UPS不间断电源、EPS消防应急电源、风力光伏发电系统、变频器、MPPT太阳能控制器、调压器、变压器等系列产品。是国家高新技术企业、中国电气行业十大知名品牌，2017年度中国稳压器十大品牌 。" />
		<meta name="keywords" content="一元电气,一元电气官网,一元电气科技有限公司,一元科技集团官网,深圳一元,深圳一元电气,丽水一元,丽水一元电气,有源滤波器,静止无功发生器,混合型动态无功补偿装置,自动电压调节器,稳压器,储能一体机,储能系统,光储充,电池包,逆变器,太阳能控制器" />
		<link rel="shortcut icon" href="../static/favicon.ico" />
		<!-- 公样式 -->
		<link rel="stylesheet" type="text/css" href="../static/css/scrollbar.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/public.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/header.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/footer.css" />
		<!-- 图标 -->
		<link rel="stylesheet" type="text/css" href="../static/css/iconfont.css" />
		<!-- 插件样式 -->
		<link rel="stylesheet" type="text/css" href="../plugins/element-ui/index.css"/>
		<link rel="stylesheet" type="text/css" href="../plugins/animate.css/animate.min.css" />
		<link rel="stylesheet" type="text/css" href="../plugins/swiper-5.4.5/package/css/swiper.min.css" />
		<!-- 页面样式 -->
		<link rel="stylesheet" type="text/css" href="../static/css/enteryy.css" />
		<script type="text/javascript">
			var pageAdd=2;
			var level=1;
		</script>
	</head>
	<body>
		<!-- 头部开始 -->
		<yiy-header id="navHead"></yiy-header>
		<!-- 头部结束 -->
		<!-- 页面内容开始 -->
		<div id="appEnteryy" style="overflow: hidden;">
			<!-- banner -->
			<div class="partBox">
				<div class="bgImg">
					<img src="../static/image/enteryy/banner.jpg" class="pc_bg" alt="" />
					<img src="../static/image/enteryy/m/banner.jpg" class="m_bg" alt="" />
				</div>
				<div class="bannerTitle">
					<p class="title_big see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">精心培育“一元”品牌</p>
					<p class="title_big see_fadeInUp" data-wow-duration="1s"
						data-wow-delay="0.4s">创造“一元”文化</p>
					<div class="redLine_slide see_fadeInUpLine" data-wow-duration="1s" data-wow-delay="0.6s"></div>
					<span class="title2 see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">一元科技将用心服务用户，
						真情回馈社会，让能源与生态更和谐</span>
				</div>
			</div>
			<!-- 一元电气介绍 -->
			<div class="aboutBox">
				<div class="aboutMsgBox">
					<div class="aboutMsgBox_left">
						<p class="about_big see_fadeInUp">一元电气科技有限公司</p>
						<div class="redLine_about see_fadeInUpLine"> </div>
						<p class="about_txt see_fadeInUp">一元电气科技有限公司是一家致力于电子电气技术研发与智造的高新技术企业，为能源物联网提供核心电力设备和系统解决方案。</p>
						<div class="aboutData">
							<div class="see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
								<p>2008</p>
								<p>成立时间</p>
							</div>
							<div class="see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
								<p>200+</p>
								<p>员工人数</p>
							</div>
							<div class="see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
								<p>ISO9001</p>
								<p>质量管理体系</p>
							</div>
						</div>
					</div>
					<div class="aboutMsgBox_right see_fadeInRight" data-wow-duration="1s" data-wow-delay="0.7s">
						<img src="../static/image/aboutmsg.jpg" alt="">
					</div>
				</div>
			</div>
			<!-- 资质 -->
			<div class="patentBox">
				<div class="bgImg patentImg">
					<img src="../static/image/enteryy/zizhi.jpg" class="pc_bg" alt="">
					<img src="../static/image/enteryy/m/zizhi.jpg" class="m_bg" alt="">
				</div>
				<div class="patentTxt">
					<p class="about_big see_fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s"
						style="color: rgb(245,245,245);">公司专利资质</p>
					<div class="redLine_patent see_fadeInRightLine" data-wow-duration="1s" data-wow-delay="0.6s"></div>
					<p class="about_txt2 see_fadeInRight" data-wow-duration="1s" data-wow-delay="0.4s" style="">
						一元电气秉承质量管理是企业发展的根本，
						通过良好的质量管理体系来控制产品质量，从开业到至今我司通过了ISO9001认证、ISO14001认证、ISO45001认证等国际标准管理体系认证，并且主要产品也取得了CQC产品认证、CE认证、ROHS认证、泰尔认证、消防认证和
						CE、UL、TUV、 FCC、PCT等安规认证获得了广大客户的衷心的信赖。
					</p>
					<div class="aboutData">
						<div style="border-right: 1px solid rgb(83,83,83);" class="see_fadeInRight"
							data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="5">
							<p>60+</p>
							<p style="color: rgb(179,179,179);">产品专利</p>
						</div>
						<div style="border-right: 1px solid rgb(83,83,83);" class="see_fadeInRight"
							data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="5">
							<p>20+</p>
							<p style="color: rgb(179,179,179);">稳压器专利</p>
						</div>
						<div class="see_fadeInRight" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="5">
							<p>30+</p>
							<p style="color: rgb(179,179,179);">逆变器专利</p>
						</div>
					</div>
				</div>
			</div>
			<!-- 一元的优势 -->
			<div class="advantageBox">
				<div class="advantageMsgBox">
					<p class="advantageMsg_title see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">一元的优势</p>
					<div class="advantageMsg_type">
						<div class="advantageMsg_type_item see_fadeInRight" data-wow-duration="1s"
							data-wow-delay="0.2s">
							<div class="iconBox">
								<i class="iconfont icon-changjia"></i>
							</div>
							<p class="advantageMsg_type_item_title">厂家直供</p>
							<!-- <p class="advantageMsg_type_item_title2">优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍...</p> -->
						</div>
						<div class="advantageMsg_type_item see_fadeInRight" data-wow-duration="1s"
							data-wow-delay="0.3s">
							<div class="iconBox">
								<i class="iconfont icon-huoyuan"></i>
							</div>
							<p class="advantageMsg_type_item_title">货源充足</p>
							<!-- <p class="advantageMsg_type_item_title2">优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍...</p> -->
						</div>
						<div class="advantageMsg_type_item see_fadeInRight" data-wow-duration="1s"
							data-wow-delay="0.4s">
							<div class="iconBox">
								<i class="iconfont icon-jiagong"></i>
							</div>
							<p class="advantageMsg_type_item_title">加工定制</p>
							<!-- <p class="advantageMsg_type_item_title2">优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍...</p> -->
						</div>
						<div class="advantageMsg_type_item see_fadeInRight" data-wow-duration="1s"
							data-wow-delay="0.5s">
							<div class="iconBox">
								<i class="iconfont icon-pinzhi"></i>
							</div>
							<p class="advantageMsg_type_item_title">品质保证</p>
							<!-- <p class="advantageMsg_type_item_title2">优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍...</p> -->
						</div>
						<div class="advantageMsg_type_item see_fadeInRight" data-wow-duration="1s"
							data-wow-delay="0.6s">
							<div class="iconBox">
								<i class="iconfont icon-youshi1"></i>
							</div>
							<p class="advantageMsg_type_item_title">优势服务</p>
							<!-- <p class="advantageMsg_type_item_title2">优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍...</p> -->
						</div>
					</div>
					<div class="advantageMsg_type_m1">
						<div class="advantageMsg_type_item see_fadeInRight" data-wow-duration="1s"
							data-wow-delay="0.2s">
							<div class="iconBox">
								<i class="iconfont icon-changjia"></i>
							</div>
							<p class="advantageMsg_type_item_title">厂家直供</p>
							<!-- <p class="advantageMsg_type_item_title2">优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍...</p> -->
						</div>
						<div class="advantageMsg_type_item see_fadeInRight" data-wow-duration="1s"
							data-wow-delay="0.3s">
							<div class="iconBox">
								<i class="iconfont icon-huoyuan"></i>
							</div>
							<p class="advantageMsg_type_item_title">货源充足</p>
							<!-- <p class="advantageMsg_type_item_title2">优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍...</p> -->
						</div>
						<div class="advantageMsg_type_item see_fadeInRight" data-wow-duration="1s"
							data-wow-delay="0.4s">
							<div class="iconBox">
								<i class="iconfont icon-jiagong"></i>
							</div>
							<p class="advantageMsg_type_item_title">加工定制</p>
							<!-- <p class="advantageMsg_type_item_title2">优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍...</p> -->
						</div>
					</div>
					<div class="advantageMsg_type_m2">
						<div class="advantageMsg_type_item see_fadeInRight" data-wow-duration="1s"
							data-wow-delay="0.5s">
							<div class="iconBox">
								<i class="iconfont icon-pinzhi"></i>
							</div>
							<p class="advantageMsg_type_item_title">品质保证</p>
							<!-- <p class="advantageMsg_type_item_title2">优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍...</p> -->
						</div>
						<div class="advantageMsg_type_item see_fadeInRight" data-wow-duration="1s"
							data-wow-delay="0.6s">
							<div class="iconBox">
								<i class="iconfont icon-youshi1"></i>
							</div>
							<p class="advantageMsg_type_item_title">优势服务</p>
							<!-- <p class="advantageMsg_type_item_title2">优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍优势介绍...</p> -->
						</div>
					</div>
				</div>
			</div>
			<!-- 企业文化 -->
			<div class="qywhBox">
				<div class="qywhBox_left">
					<div class="qywhBox_left_zdc">
						<p class="see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">企业文化</p>
						<!-- <p class="see_fadeInUp"  data-wow-duration="1s" data-wow-delay="0.6s"  >&nbsp;</p> -->
					</div>
				</div>
				<div class="qywhBox_right">
					<div class="qywhBox_right_top">
						<p class="see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">一者万物之所从始也，元者辞之所谓大也，谓一为元者，
						</p>
						<p class="see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">视大始而欲正本也。</p>
					</div>
					<div class="qywhBox_right_bottom">
						<div class="qywhBox_right_bottom_item see_fadeInUp" data-wow-duration="1s"
							data-wow-delay="0.2s">
							<div>使命</div>
							<span>推动电力能源事业持续发展</span>
						</div>
						<div class="qywhBox_right_bottom_item see_fadeInUp" data-wow-duration="1s"
							data-wow-delay="0.2s">
							<div>愿景</div>
							<span>让能源与生态更和谐</span>
						</div>
						<div class="qywhBox_right_bottom_item see_fadeInUp" data-wow-duration="1s"
							data-wow-delay="0.2s">
							<div>价值观</div>
							<span>诚信、共赢、创新、安全、时效、节能</span>
						</div>
					</div>
				</div>
			</div>
			<!-- 发展历程 -->
			<div class="historyBox">
				<div class="titleBox">
					<p class="see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">发展历程</p>
					<p class="see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">&nbsp;</p>
				</div>
				<div class="historySwiperBox">
					<div class="swiper-container" id="hisSwiper">
						<!-- <div class="historyLine"></div> -->
						<div class="swiper-wrapper">
							<div class="swiper-slide" v-for="(item,index) in yearMsg" :key="index">
								<p class="actYear">{{item.year.substring(0,2)}}<span>{{item.year.substring(2,4)}}</span></p>
								<p class="actTitle">{{item.title}}</p>
								<div class="yearMsgBox">
									<p class="year">{{item.year.substring(0,2)}}<span>{{item.year.substring(2,4)}}</span></p>
									<p class="yearTitle">{{item.title}}</p>
								</div>
							</div>
						</div>
						<!-- Add Arrows -->
						
						<!-- line -->
						<div class="line1"></div>
						<div class="line2"></div>
						<div class="line3"></div>
						<div class="line4"></div>
					</div>
					<div class="swiper-button-next">
						<i class="iconfont icon-gengduo"></i>
					</div>
					<div class="swiper-button-prev">
						<i class="iconfont icon-fanhui"></i>
					</div>
				</div>
			</div>
			<!-- 全球分布 -->
			<div class="globalBox">
				<div class="globalBoxBg">
					<img src="../static/image/enteryy/m/quanqiu.jpg" alt="">
				</div>
				<div class="globalTitleBox">
					<p class="see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">一元电气 布局全球</p>
					<!-- <p class="see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s"  >&nbsp;</p> -->
					<div class="globalNumDiv">
						<ul class="globalNumUl">
							<li class="see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
								<p>六大洲</p>
								<p>覆盖范围</p>
							</li>
							<li class="see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
								<p>160+</p>
								<p>覆盖国家</p>
							</li>
							<li class="see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
								<p>70000+</p>
								<p>月生产量</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="globalBg">
					<img src="../static/image/global.jpg" alt="">
					<div class="meiguo">
						<div class="circle"></div>
						<div class="circle2"></div>
						<div class="circle3"></div>
					</div>
					<div class="faguo">
						<div class="circle"></div>
						<div class="circle2"></div>
						<div class="circle3"></div>
					</div>
					<div class="bolan">
						<div class="circle"></div>
						<div class="circle2"></div>
						<div class="circle3"></div>
					</div>
					<div class="nrny">
						<div class="circle"></div>
						<div class="circle2"></div>
						<div class="circle3"></div>
					</div>
					<div class="jbbw">
						<div class="circle"></div>
						<div class="circle2"></div>
						<div class="circle3"></div>
					</div>
					<div class="els">
						<div class="circle"></div>
						<div class="circle2"></div>
						<div class="circle3"></div>
					</div>
					<div class="zg">
						<div class="circle"></div>
						<div class="circle2"></div>
						<div class="circle3"></div>
					</div>
					<div class="mlxy">
						<div class="circle"></div>
						<div class="circle2"></div>
						<div class="circle3"></div>
					</div>
					<div class="flb">
						<div class="circle"></div>
						<div class="circle2"></div>
						<div class="circle3"></div>
					</div>
				</div>
			</div>
		<!-- 资质荣誉 -->
		<div class="qualificationsBox">
			<div class="qualificationsTitleBox">
				<p class="see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">资质荣誉</p>
				<p class="see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">&nbsp;</p>
			</div>
			<div class="qualificationsSwiperBox">
				<div class="swiper-container" id="qualSwiper">
					<!-- <div class="historyLine"></div> -->
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="../static/image/zizi/1.png" alt="">
						</div>
						<div class="swiper-slide">
							<img src="../static/image/zizi/2.png" alt="">
						</div>
						<div class="swiper-slide">
							<img src="../static/image/zizi/3.png" alt="">
						</div>
						<div class="swiper-slide">
							<img src="../static/image/zizi/4.png" alt="">
						</div>
						<div class="swiper-slide">
							<img src="../static/image/zizi/5.png" alt="">
						</div>
						<div class="swiper-slide">
							<img src="../static/image/zizi/1.png" alt="">
						</div>
					</div>
				</div>
				<!-- 前进后退按钮 -->
				<div class="swiper-button-next" id="qualificationsNext">
					<i class="iconfont icon-gengduo"></i>
				</div>
				<div class="swiper-button-prev" id="qualificationsPrev">
					<i class="iconfont icon-fanhui"></i>
				</div>
			</div>
		</div>
		
		</div>
		<!-- 页面内容结束 -->
		<!-- 联系我们开始 -->
		<div class="box100"  id="contactBox">
			<div class="contactBox">
				<div class="contact_left see_fadeInLeft">
					<p class="contact_title">联系我们</p>
					<div class="redLine_contact"></div>
					<p class="contact_txt">如果您有任何的需要，请随时与我们联系。</p>
					<div class="inputBox">
						<div class="inputItem">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的姓名" v-model="userName" />
						</div>
						<div class="inputItem">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的公司" v-model="userCompany"/>
						</div>
						<div class="inputItem">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的电话" v-model="userPhone"/>
						</div>
						<div class="inputItem">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的邮箱" v-model="userMail"/>
						</div>
					</div>
					<div class="liuyan">
						<i class="iconfont icon-xinghao"></i>
						<textarea rows="" cols="" placeholder="请输入留言内容" v-model="userLy"></textarea>
					</div>
					<div class="btn_liuyan" @click="subLy()">提交留言</div>
				</div>
				<div class="contact_right see_fadeInRight">
					<div class="contactTypeBox">
						<div class="telBox">
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon">
									<i class="iconfont icon-phone"></i>
								</div>
								<div class="contactTypeItem_msg">
									<p>销售热线</p>
									<p>{{telMsg.rexian}}</p>
								</div>
							</div>
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon">
									<i class="iconfont icon-yunchuanzhen"></i>
								</div>
								<div class="contactTypeItem_msg">
									<p>公司传真</p>
									<p>{{telMsg.chuanzhen}}</p>
								</div>
							</div>
						</div>
						<div class="addressBox">
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon">
									<i class="iconfont icon-dingweixiao"></i>
								</div>
								<div class="contactTypeItem_msg">
									<p>{{addressMsg[0].name}}</p>
									<p>{{addressMsg[0].add}}</p>
								</div>
							</div>
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon" style="opacity: 0;">
									<!-- <i class="iconfont icon-zuoji"></i> -->
								</div>
								<div class="contactTypeItem_msg">
									<p>{{addressMsg[1].name}}</p>
									<p>{{addressMsg[1].add}}</p>
								</div>
							</div>
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon" style="opacity: 0;">
									<!-- <i class="iconfont icon-zuoji"></i> -->
								</div>
								<div class="contactTypeItem_msg">
									<p>{{addressMsg[2].name}}</p>
									<p>{{addressMsg[2].add}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 联系我们结束 -->
		<!-- 去顶部按钮 -->
		<div class="toTopBtn" onclick="toTop()">
			<i class="iconfont icon-huidaodingbu"></i>
		</div>
		<!-- 底部开始 -->
		<yiy-footer id="navFooter"></yiy-footer>
		<!-- 底部结束 -->
		<!-- 脚本引入开始 -->
		<!-- 公共方法 -->
		<script src="../static/js/common.js" type="text/javascript" charset="utf-8"></script>
		<!-- 插件引入 -->
		<script src="../plugins/wow/wow.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../plugins/vue/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../plugins/element-ui/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="../plugins/swiper-5.4.5/package/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<!-- 页面脚本引入 -->
		<script src="../static/js/header_new.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/footer.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/enteryy.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/public.js" type="text/javascript" charset="utf-8"></script>
		<!-- 脚本引入结束 -->
	</body>
</html>
