<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<!-- <base href="http://127.0.0.1:8848/yiyuan/"> -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>新闻中心 | 一元电气科技有限公司</title>
		<meta name="description" content="一元科技集团是一家专业从事电源产品开发、生产、营销及服务的高新技术企业。目前公司拥有一元电气科技、浙江一元、温州一元进出口、丽水一元、深圳一元电气、深圳市一元科技、湖北一元科技等十大全资公司。主要生产经营稳压器（AVR）、逆变电源 （INV）、储能逆变一体机、储能变流器（PCS）、集装箱式储能柜、UPS不间断电源、EPS消防应急电源、风力光伏发电系统、变频器、MPPT太阳能控制器、调压器、变压器等系列产品。是国家高新技术企业、中国电气行业十大知名品牌，2017年度中国稳压器十大品牌 。" />
		<meta name="keywords" content="一元电气,一元电气官网,一元电气科技有限公司,一元科技集团官网,深圳一元,深圳一元电气,丽水一元,丽水一元电气,有源滤波器,静止无功发生器,混合型动态无功补偿装置,自动电压调节器,稳压器,储能一体机,储能系统,光储充,电池包,逆变器,太阳能控制器" />
		<link rel="shortcut icon" href="../static/favicon.ico" />
		<!-- 公样式 -->
		<link rel="stylesheet" type="text/css" href="../static/css/scrollbar.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/public.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/header.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/footer.css" />
		<!-- 图标 -->
		<link rel="stylesheet" type="text/css" href="../static/css/iconfont.css" />
		<!-- 插件样式 -->
		<link rel="stylesheet" type="text/css" href="../plugins/animate.css/animate.min.css"/>
		<link rel="stylesheet" type="text/css" href="../plugins/element-ui/index.css"/>
		<link rel="stylesheet" type="text/css" href="../plugins/swiper-5.4.5/package/css/swiper.min.css" />
		<!-- 页面样式 -->
		<link rel="stylesheet" type="text/css" href="../static/css/newscenter.css" />
		<script type="text/javascript">
			var pageAdd=2;
			var level=1;
		</script>
	</head>
	<body>
		<!-- 头部开始 -->
		<yiy-header id="navHead"></yiy-header>
		<!-- 头部结束 -->
		<!-- 页面内容开始 -->
		<div id="appNewsCenter" class="content">
			<!-- banner -->
			<div class="partBox">
				<div class="bgImg">
					<img src="../static/image/newscenter/banner.jpg" class="pc_bg" alt="">
					<img src="../static/image/newscenter/m/banner.jpg" class="m_bg" alt="">
				</div>
				<div class="centerBox_ab">
					<div class="bannerTitle">
						<p class="title_big see_fadeInUp"  data-wow-duration="1s" data-wow-delay="0.3s"  >新闻资讯</p>
						<div class="redLine_slide see_fadeInUpLine" data-wow-duration="1s" data-wow-delay="0.6s"   ></div>
						<span class="title2 see_fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s"  >一元电气实时新闻, 了解更多资讯</span>
					</div>
				</div>
			</div>
			<!-- 新闻内容 -->
			<div class="news_container">
				<div class="centerBox news_box">
					<div class="news_box_tab">
						<div :class="newsIndex==0?'actTab':''" @click="changeTab(0)">公司新闻</div>
						<div :class="newsIndex==1?'actTab':''" @click="changeTab(1)">展会动态</div>
						<div :class="newsIndex==2?'actTab':''" @click="changeTab(2)">技术交流</div>
					</div>
					<div class="tab_line"></div>
					<div class="news_msg_container">
						<div class="news_item see_fadeInUp" :data-wow-delay="index%2==0?'0.2s':'0.4s'"  v-for="(item,index) in gsxw" :key="index" @click="toNewsDetail()">
							<div class="news_item_img">
								<img :src="item.img" alt="">
							</div>
							<div class="news_item_txt">
								<p class="news_item_txt_title">{{item.title}}</p>
								<p class="news_item_txt_date">{{item.date}}</p>
								<img src="../static/image/projectcenter/goright.png" alt="" class="goImg">
							</div>
						</div>
					</div>
					<!-- 分页 -->
					 <div class="pageBox">
					    <el-pagination
					      @size-change="handleSizeChange"
					      @current-change="handleCurrentChange"
					      :current-page.sync="currentPage"
					      :page-size="10"
						  :pager-count="3"
					      layout="prev, pager, next, jumper"
					      :total="pageTotal">
					    </el-pagination>
					  </div>
				</div>
			</div>
			
		</div>
		<!-- 页面内容结束 -->
		<!-- 联系我们开始 -->
		<div class="box100" id="contactBox">
			<div class="contactBox">
				<div class="contact_left see_fadeInLeft">
					<p class="contact_title">联系我们</p>
					<div class="redLine_contact"></div>
					<p class="contact_txt">如果您有任何的需要，请随时与我们联系。</p>
					<div class="inputBox">
						<div class="inputItem">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的姓名" v-model="userName" />
						</div>
						<div class="inputItem">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的公司" v-model="userCompany"/>
						</div>
						<div class="inputItem">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的电话" v-model="userPhone"/>
						</div>
						<div class="inputItem">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的邮箱" v-model="userMail"/>
						</div>
					</div>
					<div class="liuyan">
						<i class="iconfont icon-xinghao"></i>
						<textarea rows="" cols="" placeholder="请输入留言内容" v-model="userLy"></textarea>
					</div>
					<div class="btn_liuyan" @click="subLy()">提交留言</div>
				</div>
				<div class="contact_right see_fadeInRight">
					<div class="contactTypeBox">
						<div class="telBox">
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon">
									<i class="iconfont icon-phone"></i>
								</div>
								<div class="contactTypeItem_msg">
									<p>销售热线</p>
									<p>{{telMsg.rexian}}</p>
								</div>
							</div>
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon">
									<i class="iconfont icon-yunchuanzhen"></i>
								</div>
								<div class="contactTypeItem_msg">
									<p>公司传真</p>
									<p>{{telMsg.chuanzhen}}</p>
								</div>
							</div>
						</div>
						<div class="addressBox">
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon">
									<i class="iconfont icon-dingweixiao"></i>
								</div>
								<div class="contactTypeItem_msg">
									<p>{{addressMsg[0].name}}</p>
									<p>{{addressMsg[0].add}}</p>
								</div>
							</div>
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon" style="opacity: 0;">
									<!-- <i class="iconfont icon-zuoji"></i> -->
								</div>
								<div class="contactTypeItem_msg">
									<p>{{addressMsg[1].name}}</p>
									<p>{{addressMsg[1].add}}</p>
								</div>
							</div>
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon" style="opacity: 0;">
									<!-- <i class="iconfont icon-zuoji"></i> -->
								</div>
								<div class="contactTypeItem_msg">
									<p>{{addressMsg[2].name}}</p>
									<p>{{addressMsg[2].add}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 联系我们结束 -->
		<!-- 去顶部按钮 -->
		<div class="toTopBtn" onclick="toTop()">
			<i class="iconfont icon-huidaodingbu"></i>
		</div>
		<!-- 底部开始 -->
		<yiy-footer id="navFooter"></yiy-footer>
		<!-- 底部结束 -->
		<!-- 脚本引入开始 -->
		<!-- 公共方法 -->
		<script src="../static/js/common.js" type="text/javascript" charset="utf-8"></script>
		<!-- 插件引入 -->
		<script src="../plugins/vue/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../plugins/element-ui/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="../plugins/wow/wow.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../plugins/swiper-5.4.5/package/js/swiper.min.js" type="text/javascript" charset="utf-8">
		</script>
		<!-- 页面脚本引入 -->
		<script src="../static/js/header_new.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/footer.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/newscenter.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/public.js" type="text/javascript" charset="utf-8"></script>
		<!-- 脚本引入结束 -->
	</body>
</html>
