$redfont:#910000;
.bgImg{
	>img{
		min-height: 400px;
	}
}
.pc_bg{
	display: block;
	@media screen and (max-width: 820px) {
		display: none!important;
	}
}
.m_bg{
	display: none;
	@media screen and (max-width: 820px) {
		display: block!important;
	}
}
.bannerTitle{
	position: absolute;
	left: 0;
	top: 38%;
}
.title_big{
	font-size: 60px;
	font-weight: bold;
	line-height: 60px;
	color: #fff;
	@media screen and (max-width: 820px) {
		font-size: 32px;
		line-height: inherit;
	}
}
.redLine_banner{
	width: 80px;
	height: 4px;
	background-color: $redfont;
	margin-top: 50px;
	@media screen and (max-width: 820px) {
		width: 44px;
		height: 2px;
		margin-top: 26px;
	}
}
.title2{
	display: inline-block;
	margin-top: 40px;
	color: #fff;
	font-size: 22px;
	@media screen and (max-width: 820px) {
		font-size: 16px;
		margin-top: 16px;
	}
}
.contactContent{
	width: 100%;
	padding-top: 146px;
	padding-bottom: 96px;
	@media screen and (max-width: 1250px) {
		padding-bottom: 5%;
	}
	@media screen and (max-width: 820px) {
		padding-top: 57px;
		padding-bottom: 5%;
	}
}
.contactCotent{
	display: flex;
	flex-direction: column;
}
.contactCotent_title{
	font-size: 38px;
	line-height: 38px;
	color: rgb(44,44,44);
	@media screen and (max-width: 820px) {
		font-size: 20px;
		line-height: inherit;
	}
}
.contactCotent_title_line{
	width: 100%;
	height: 4px;
	background-color: rgb(44,44,44);
	margin-top: 26px;
	@media screen and (max-width: 820px) {
		height: 2px;
		margin-top: 12px;
	}
}
.checkAddressBox{
	width: 100%;
	display: grid;
	grid-template-columns: 44% 1fr;
	grid-column-gap: 74px;
	margin-top: 42px;
	@media screen and (max-width: 1250px) {
		grid-template-columns: 1fr;
		margin-top: 14px;
	}
}
.checkAddressBox_left{
	display: flex;
	flex-direction: column;
	>div{
		padding-top: 38px;
		padding-bottom: 38px;
		border-bottom: 1px solid rgb(210,210,210);
	}
	>div:nth-child(1){
		padding-top: 0px;
	}
	>div:nth-last-child(1){
		padding-bottom: 0px;
		border-bottom: none;
	}
	@media screen and (max-width: 1250px) {
		>div{
			padding-top: 16px;
			padding-bottom: 16px;
		}
	}
}
.addressItem_title{
	font-size: 18px;
	line-height: 18px;
	color: rgb(51,51,51);
	cursor: pointer;
	transition: all ease .4s;
	&:hover{
		color: $redfont;
	}
	@media screen and (max-width: 820px) {
		font-size: 14px;
		line-height: inherit;
	}
}
.amap-marker-label {
        font-size: 13px;
        border: 1px solid orange;
        background: #fff;
        border-radius: 10px 0 0 0;
        color: #690441;
    }
.actAdd{
	color: $redfont!important;
	@media screen and (max-width: 414px) {
		color: #333!important;
	}
}
.addressItem_type{
	display: flex;
	flex-direction: column;
	margin-top: 24px;
	@media screen and (max-width: 820px) {
		margin-top: 10px;
	}
}
.addressItem_type_item{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	>.icon-zuoji{
		font-size: 22px;
		color: rgb(90,90,90);
		line-height: 22px;
	}
	>.icon-yunchuanzhen{
		font-size: 20px;
		color: rgb(90,90,90);
		line-height: 20px;
	}
	>.icon-dingweixiao{
		font-size: 20px;
		color: rgb(90,90,90);
		line-height: 20px;
	}
	>span{
		font-size: 16px;
		color: rgb(90,90,90);
		margin-left: 16px;
		line-height: 16px;
	}
	@media screen and (max-width: 820px) {
		margin-bottom: 2px;
		>.icon-zuoji{
			font-size: 12px;
		}
		>.icon-yunchuanzhen{
			font-size: 12px;
		}
		>.icon-dingweixiao{
			font-size: 12px;
		}
		>span{
			font-size: 12px;
		}
	}
}
.addressItem_type>div:nth-last-child(1){
	margin-bottom: 0px;
}
// 表单
.formBg>img{
	min-height: 656px;
}
.contact_form{
	width: 100%;
	position: relative;
	margin-top: 120px;
	@media screen and (max-width: 820px) {
		display: none;
	}
}
.contact_form_content{
	width: 83%;
	margin: 0 auto;
	position: absolute;
	top: 88px;
	left: 50%;
	transform: translate(-50%,0%);
	display: flex;
	flex-direction: column;
	align-items: center;
	@media screen and (min-width: 2060px) {
		top: 20%;
	}
}

.contact_form_title{
	color: rgb(254,254,254);
	font-size: 35px;
	line-height: 35px;
	font-weight: bold;
}
.redLine_contact_form{
	width: 80px;
	height: 4px;
	background-color: $redfont;
	margin-top: 20px;
}
.contact_txt_form{
	font-size: 16px;
	color: rgb(244,244,244);
	margin-top: 16px;
	line-height: 16px;
}
.contact_form_box{
	width: 100%;
	display: grid;
	grid-template-rows: 66px 156px;
	grid-row-gap: 30px;
	margin-top: 34px;
	
}
.contact_form_box_top{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-column-gap: 20px;
	>div{
		height: 100%;
		background-color: rgb(245,245,247);
	}
}
.contact_form_box_bottom{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background-color: rgb(245,245,247);
	overflow: hidden;
	>textarea{
		outline: none;
		border-style: none;
		resize: none; 
		width: 98%;
		height: 86%;
		background-color: rgb(245,245,247);
		position: absolute;
		left: 2%;
		top:12%;
		// margin-top: auto;
		// padding-left: 25px;
		font-weight: bold;
		letter-spacing: -2px;
		color: #999;
		// margin-left: auto;
		&::placeholder{
			font-weight: bold;
			color: #999;
			letter-spacing: -2px;
		}
	}
	>i{
		position: absolute;
		left:12px;
		top:17%;
		transform:translate(0%,-50%);
		font-size: 8px;
		color: $redfont;
		z-index: 2;
	}
}
.btn_liuyan_contact{
	width: 204px;
	height: 64px;
	background-color: $redfont;
	margin: 0 auto;
	margin-top: 38px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	cursor: pointer;
	transition: all ease 0.3s;
	&:hover{
		box-shadow: rgba(255, 255, 255, 0.65) 0px 0px 12px;
	}
}
// 友情链接
.friendlyLinkContent{
	width: 100%;
	padding-top: 86px;
	padding-bottom: 62px;
	background-color: rgb(245,245,245);
	@media screen and (max-width: 820px) {
		padding-top: 57px;
		padding-bottom: 57px
	}
}
.friendlyLinkBox{
	display: flex;
	@media screen and (max-width: 820px) {
		flex-direction: column;
	}
}
.friendlyLinkBox_left{
	display: flex;
	flex-direction: column;
}
.friendlyLink_title{
	font-size: 26px;
	font-weight: bold;
	color: rgb(51,51,51);
	@media screen and (max-width: 820px) {
		font-size: 20px;
	}
}
.linksBox{
	width: 860px;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-column-gap: 118px;
	grid-row-gap: 30px;
	margin-top: 34px;
	>a{
		color: #999;
		font-size: 16px;
		line-height: 16px;
		transition: all ease 0.3s;
		&:hover{
			color: #000;
		}
	}
	@media screen and (max-width: 1250px) {
		grid-template-columns: none;
	}
	@media screen and (max-width: 820px) {
		grid-row-gap: 16px;
		margin-top: 14px;
		>a{
			font-size: 12px;
			line-height: inherit;
		}
	}
}
.friendlyLinkBox_right{
	margin-left: auto;
	display: flex;
	align-items: center;
	>div:nth-child(1){
		margin-right: 26px;
	}
	@media screen and (max-width: 820px) {
		margin-left: 0;
		margin-top: 38px;
		>div{
			>img{
				width: 108px;
				height: 108px;
			}
		}
		>div:nth-child(1){
			margin-right: 0;
		}
		>div:nth-child(2){
			margin-left: 20px;
		}
	}
}
.ercodeItem{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.ercodeItem_title{
	font-size: 16px;
	line-height: 16px;
	margin-top: 20px;
	color: rgb(121,121,121);
	@media screen and (max-width: 820px) {
		font-size: 12px;
		line-height:inherit;
	}
}
.contactBox{
	@media screen and (max-width: 820px) {
		margin-top: 37px;
	}
}