#appProject {
  background-color: whitesmoke; }

.bannerTitle {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, 0%);
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media screen and (max-width: 1600px) {
    .bannerTitle {
      top: 35%; } }
  @media screen and (max-width: 1365px) {
    .bannerTitle {
      top: 25%; } }

.title_big {
  font-size: 64px;
  color: #fff;
  line-height: 64px;
  opacity: 0; }

.title_redLine {
  width: 88px;
  height: 4px;
  background-color: #910000;
  margin-top: 44px;
  opacity: 0; }
  @media screen and (max-width: 1600px) {
    .title_redLine {
      margin-top: 20px; } }
  @media screen and (max-width: 1365px) {
    .title_redLine {
      margin-top: 10px; } }

.title_msg {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center; }
  .title_msg > div {
    padding: 0px 4%;
    opacity: 0;
    height: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid gainsboro; }
  @media screen and (max-width: 1600px) {
    .title_msg {
      margin-top: 30px; }
      .title_msg > div {
        height: 56px; } }
  @media screen and (max-width: 1365px) {
    .title_msg {
      margin-top: 20px; }
      .title_msg > div {
        height: 46px; } }
  @media screen and (max-width: 1250px) {
    .title_msg {
      margin-top: 5px; }
      .title_msg > div {
        height: 46px; } }

.title_msg1 {
  font-size: 34px;
  font-weight: bold;
  color: #fff;
  position: relative;
  white-space: nowrap; }
  .title_msg1 > span {
    font-size: 18px;
    line-height: 18px;
    position: absolute;
    right: -18px;
    bottom: 0px;
    font-weight: bold; }
  @media screen and (max-width: 1600px) {
    .title_msg1 {
      font-size: 25px; } }
  @media screen and (max-width: 1365px) {
    .title_msg1 {
      font-size: 18px; } }

.title_msg2 {
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  margin-top: 8px;
  opacity: 0.9;
  white-space: nowrap; }
  @media screen and (max-width: 1600px) {
    .title_msg2 {
      font-size: 15px; } }
  @media screen and (max-width: 1365px) {
    .title_msg2 {
      font-size: 14px; } }

.typeTab {
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  border-top: 1px solid #828187; }

.actTab {
  background-image: linear-gradient(to bottom, rgba(185, 6, 9, 0.45), rgba(185, 6, 9, 0.2) 90%, rgba(0, 0, 0, 0.1)); }

.tabBox {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .tabBox > div {
    border-right: 1px solid #828187;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold; }
    .tabBox > div:hover {
      background-image: linear-gradient(to bottom, rgba(185, 6, 9, 0.45), rgba(185, 6, 9, 0.2) 90%, rgba(0, 0, 0, 0.1)); }
  .tabBox > div:nth-child(1) {
    border-left: 1px solid #828187; }

.typeMsgBox {
  width: 100%;
  background-color: whitesmoke;
  padding: 118px 0px; }

.projectContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 18px;
  grid-row-gap: 28px;
  overflow-y: hidden; }
  @media screen and (max-width: 1250px) {
    .projectContent {
      grid-template-columns: 1fr !important; } }

.project_item {
  height: 408px;
  background-color: #fff;
  position: relative;
  cursor: pointer; }

.project_txt {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 8%;
  top: 0px; }
  .project_txt > .project_title {
    font-size: 32px;
    line-height: 32px; }
  .project_txt > .project_subtitle {
    font-size: 16px;
    line-height: 16px;
    margin-top: 22px;
    color: #999999; }
  @media screen and (max-width: 920px) {
    .project_txt {
      width: 100%;
      height: auto;
      top: 2%; } }

.project_line {
  width: 274px;
  height: 3px;
  background-color: #e6e6e6;
  margin-top: 24px;
  position: relative; }
  .project_line::before {
    content: '';
    width: 64px;
    height: 3px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #910000;
    transition: all ease 1s; }

.project_img {
  width: 50%;
  height: 100%;
  float: right;
  position: relative;
  overflow: hidden; }
  .project_img > img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    transition: all ease 0.5s;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto; }
  @media screen and (max-width: 920px) {
    .project_img {
      width: 100%;
      height: 35%;
      float: none;
      position: absolute;
      bottom: 10%;
      left: 0; } }

.btnMore {
  width: 104px;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 44px;
  opacity: 0.7;
  transition: all ease 0.5s; }
  .btnMore > span {
    color: #999999;
    font-size: 15px;
    line-height: 15px; }
  .btnMore > img {
    width: 36px;
    position: absolute;
    right: 0px;
    bottom: 1px; }

.project_item:hover > .project_txt > .project_line::before {
  width: 100%; }

.project_item:hover > .project_txt > .btnMore {
  opacity: 1; }

.project_item:hover > .project_img > img {
  transform: scale(1.1); }
