$redfont: #910000;
// banner开始
.bgImg{
	>img{
		min-height: 400px;
	}
}
.pc_bg{
	display: block!important;
	@media screen and (max-width: 820px) {
		display: none!important;
	}
}
.m_bg{
	display: none!important;
	@media screen and (max-width: 820px) {
		display: block!important;
	}
}
.bannerTitle{
	position: absolute;
	left: 0;
	top: 46%;
	@media screen and (max-width: 1250px) {
		top: 35%;
	}
}
.title_en{
	display: inline-block;
	color: $redfont;
	font-size: 18px;
	font-weight: bold;
	
}
.title_big{
	font-size: 60px;
	font-weight: bold;
	line-height: 60px;
	color: #fff;
	opacity: 0;
}
.redLine_slide{
	width: 80px;
	height: 4px;
	background-color: $redfont;
	margin-top: 50px;
	opacity: 0;
	opacity: 0;
}
.title2{
	display: inline-block;
	margin-top: 40px;
	color: #fff;
	font-size: 22px;
	opacity: 0;
}
// banner结束
// 搜索结果开始
.resultBox{
	padding: 57px 0;
	width: 100%;
	background-color: #fff;
}
.result_txt{
	padding: 20px 0;
	font-size: 14px;
	color: #666;
	>span{
		color: $redfont;
		font-weight: bold;
	}
}
.resultItem{
	padding: 15px 0;
	background-color: #fff;
	
	border-bottom: 1px solid #ccc;
	transition: all ease .3s;
	cursor: pointer;
	
	&:hover{
		background-color: rgb(241,241,241);
		>.resultItem_txt{
			transform: translateX(16px);
		}
	}
}
.resultItem_txt{
	display: flex;
	flex-direction: column;
	transition: all ease .5s;
	>h3{
		font-size: 18px;
		color: #000;
	}
	>h4{
		display: block;
		    font-size: 14px;
		    color: #999;
		    padding-top: 10px;
		    font-weight: normal;
	}
}
.noMsgImgBox{
	max-width: 512px;
	max-height: 512px;
	margin: 0 auto;
	position: relative;
	>img{
		display: block;
	}
	>span{
		font-size: 18px;
		font-weight: bold;
		color: rgb(153,153,153);
		position: absolute;
		left: 50%;
		top:10%;
		transform: translate(-50%,0);
	}
}
// 搜索结果结束
// 联系我们
#contactBox{
	padding-bottom: 120px;
	padding-top: 132px;
	@media screen and (max-width: 820px) {
		padding-top: 52px;
		padding-bottom: 0px;
	}
}
