.pc_bg {
  display: block; }
  @media screen and (max-width: 820px) {
    .pc_bg {
      display: none !important; } }

.m_bg {
  display: none; }
  @media screen and (max-width: 820px) {
    .m_bg {
      display: block !important; } }

.bgImg > img {
  min-height: 400px; }

.whiteBox1 {
  color: #000;
  background: #fff;
  border: none;
  border-bottom: none; }
  .whiteBox1::placeholder {
    color: #000; }

.bannerTitle {
  position: absolute;
  left: 0;
  top: 37%; }
  @media screen and (max-width: 820px) {
    .bannerTitle {
      width: 100%;
      top: 12%; } }

@media screen and (max-width: 414px) {
  .txt_title_big {
    white-space: normal;
    font-size: 32px; } }

@media screen and (max-width: 380px) {
  .txt_title_big {
    white-space: normal;
    font-size: 28px; } }

.title1 {
  max-width: 700px;
  font-size: 22px;
  color: #f6f6f6;
  line-height: 35px;
  margin-top: 45px; }
  @media screen and (max-width: 414px) {
    .title1 {
      font-size: 13px;
      line-height: 20px;
      margin-top: 18px; } }

@media screen and (max-width: 414px) {
  .redLine2_normal {
    width: 45px; } }

.dxfaBox {
  width: 100%;
  background-color: #fff;
  display: flex;
  position: relative;
  padding-top: 180px;
  padding-bottom: 56px; }
  @media screen and (max-width: 820px) {
    .dxfaBox {
      padding-top: 57px;
      position: static;
      flex-direction: column; } }

.dxfaImg {
  margin-left: auto;
  margin-right: 120px; }
  @media screen and (max-width: 820px) {
    .dxfaImg {
      margin: 0;
      margin-top: 32px; } }

.dxfaTxt {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 22%;
  transform: translate(-50%, 0); }
  .dxfaTxt > p:nth-child(3) {
    margin-top: 38px; }
  @media screen and (min-width: 1940px) {
    .dxfaTxt {
      width: 76%; } }
  @media screen and (min-width: 2060px) {
    .dxfaTxt {
      width: 50%; } }
  @media screen and (max-width: 820px) {
    .dxfaTxt {
      position: static;
      margin: 0 auto;
      transform: none; } }

.dxfaTxt_txt {
  width: 416px;
  font-size: 18px;
  color: #666;
  line-height: 34px; }
  @media screen and (max-width: 414px) {
    .dxfaTxt_txt {
      width: 100%;
      font-size: 12px;
      line-height: 21px; } }

@media screen and (max-width: 820px) {
  .yymsBg > img {
    min-height: 900px; } }

@media screen and (max-width: 414px) {
  .yymsBg > img {
    min-height: 940px; } }

.yymsMsgBox {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 16%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media screen and (max-width: 820px) {
    .yymsMsgBox {
      min-height: 830px;
      top: 57px; } }
  @media screen and (max-width: 414px) {
    .yymsMsgBox {
      min-height: 830px;
      top: 57px; } }

.modeBox {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1%;
  grid-row-gap: 14px;
  margin-top: 7%; }
  @media screen and (max-width: 820px) {
    .modeBox {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px; } }
  @media screen and (max-width: 414px) {
    .modeBox {
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 10px; } }

.modeItem {
  display: flex;
  height: 200px;
  cursor: pointer; }
  .modeItem:hover > .modeItem_left > img {
    transform: translate(-50%, -50%) scale(1.2); }
  .modeItem:hover > .modeItem_right > .modeItem_txt > .modeItem_txt_line::before {
    width: 100%; }
  @media screen and (max-width: 414px) {
    .modeItem {
      height: 120px; } }
  @media screen and (max-width: 380px) {
    .modeItem {
      height: 140px; } }

.modeItem_left {
  width: 33%;
  background-color: #fafafa;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  .modeItem_left > img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: all ease 0.5s; }
  @media screen and (max-width: 820px) {
    .modeItem_left > img {
      max-width: 58%; } }
  @media screen and (max-width: 414px) {
    .modeItem_left {
      width: 25%; }
      .modeItem_left > img {
        max-width: 45%; } }

.modeItem_right {
  width: 67%;
  background-color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media screen and (max-width: 414px) {
    .modeItem_right {
      width: 75%; } }

.modeItem_txt {
  width: 80%;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  word-break: break-all; }
  @media screen and (max-width: 414px) {
    .modeItem_txt {
      min-height: inherit;
      height: 100%; } }

.modeItem_txt_title {
  font-size: 18px;
  font-weight: bold;
  color: #000; }
  @media screen and (max-width: 414px) {
    .modeItem_txt_title {
      font-size: 15px;
      margin-top: 8px; } }

.modeItem_txt_line {
  width: 100%;
  height: 2px;
  background-color: whitesmoke;
  margin-top: 18px;
  position: relative;
  margin-bottom: 26px; }
  .modeItem_txt_line::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    height: 2px;
    background-color: #910000;
    transition: all ease 0.6s; }
  @media screen and (max-width: 414px) {
    .modeItem_txt_line {
      height: 1px;
      margin-top: 8px;
      margin-bottom: 8px; }
      .modeItem_txt_line::before {
        height: 1px; } }

.modeItem_txt_subtitle {
  font-size: 14px;
  color: #666;
  line-height: 20px; }
  @media screen and (max-width: 414px) {
    .modeItem_txt_subtitle {
      font-size: 12px;
      line-height: 17px; } }

.xtfaBox {
  padding-top: 102px;
  background-color: #fff; }
  @media screen and (max-width: 414px) {
    .xtfaBox {
      padding-top: 57px; } }

.xtfa_content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.faBox {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 40px;
  margin-top: 65px; }
  @media screen and (max-width: 820px) {
    .faBox {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 16px;
      grid-row-gap: 16px; } }
  @media screen and (max-width: 414px) {
    .faBox {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 16px;
      grid-row-gap: 16px;
      margin-top: 30px; } }

.faItem {
  height: 358px;
  background-color: #3390ff;
  position: relative;
  cursor: pointer; }
  .faItem:hover > .faItem_zdc > .faItem_txt > .faItem_txt_line::before {
    width: 100%; }
  .faItem:hover > .faitem_img > img {
    transform: scale(1.1); }
  @media screen and (max-width: 414px) {
    .faItem {
      height: 140px; } }

.faitem_img {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .faitem_img > img {
    transition: all ease .5s;
    width: 100%;
    height: 100%; }

.faItem_zdc {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5; }

.faItem_txt {
  width: 90%;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  bottom: 12%;
  transform: translate(-50%, 0); }

.faItem_txt_title {
  font-size: 24px;
  color: #fff;
  font-weight: bold; }
  @media screen and (max-width: 1900px) {
    .faItem_txt_title {
      font-size: 20px; } }
  @media screen and (max-width: 1600px) {
    .faItem_txt_title {
      font-size: 18px; } }
  @media screen and (max-width: 1500px) {
    .faItem_txt_title {
      font-size: 16px; } }
  @media screen and (max-width: 1350px) {
    .faItem_txt_title {
      font-size: 14px; } }
  @media screen and (max-width: 414px) {
    .faItem_txt_title {
      font-size: 14px; } }

.faItem_txt_line {
  width: 100%;
  height: 2px;
  background-color: rgba(144, 144, 142, 0.9);
  margin-top: 18px;
  position: relative; }
  .faItem_txt_line::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22%;
    height: 2px;
    background-color: #c20303;
    transition: all ease 0.6s; }
  @media screen and (max-width: 414px) {
    .faItem_txt_line {
      margin-top: 8px;
      height: 1px; }
      .faItem_txt_line::before {
        height: 1px; } }

#contactBox {
  padding-bottom: 120px;
  padding-top: 132px; }
  @media screen and (max-width: 820px) {
    #contactBox {
      padding-top: 57px;
      padding-bottom: 0px; } }

@media screen and (min-width: 3000px) {
  .faItem {
    height: 568px; }
  .dxfaImg {
    margin-right: 12%; } }

@media screen and (min-width: 4000px) {
  .faItem {
    height: 676px; }
  .dxfaImg {
    margin-right: 25%; } }
