$redfont:#910000;
$redfont2:#c20303; 
.bgImg{
	>img{
		min-height: 400px;
	}
}
.pc_bg{
	display: block;
	@media screen and (max-width: 820px) {
		display: none!important;
	}
}
.m_bg{
	display: none;
	@media screen and (max-width: 820px) {
		display: block!important;
	}
}
#appProject{
	background-color: rgb(245,245,245);
}
.bannerTitle{
	width: 80%;
	position: absolute;
	left: 50%;
	top:35%;
	transform: translate(-50%,0%);
	display: flex;
	flex-direction: column;
	align-items: center;
	@media screen and (max-width: 1600px) {
		top: 35%;
	}
	@media screen and (max-width: 1365px) {
		top: 25%;
	}
	@media screen and (max-width: 414px) {
		top: 12%;
	}
}
.title_big{
	font-size: 64px;
	color: #fff;
	line-height: 64px;
	opacity: 0;
	@media screen and (max-width: 820px) {
		font-size: 32px;
		line-height: inherit;
	}
}
.title_redLine{
	width: 88px;
	height: 4px;
	background-color: $redfont;
	margin-top: 44px;
	opacity: 0;
	@media screen and (max-width: 1600px) {
		margin-top: 20px;
	}
	@media screen and (max-width: 1365px) {
		margin-top: 10px;
	}
	@media screen and (max-width: 820px) {
		width: 40px;
		height: 2px;
		margin-top:20px;
	}
}
.title_msg{
	width: 100%;
	margin-top: 40px;
	display: flex;
	justify-content: center;
	>div{
		padding: 0px 4%;
		opacity: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-right: 1px solid rgb(220,220,220);
		&:nth-last-child(1){
			border: none;
		}
	}
	@media screen and (max-width: 1600px) {
		margin-top: 30px;
	}
	@media screen and (max-width: 1365px) {
		margin-top: 14%;
	}
	@media screen and (max-width: 1250px) {
		margin-top: 16%;
	}
	@media screen and (max-width: 820px) {
		flex-wrap: wrap;
		justify-content: flex-start;
		margin-top: 20px;
		>div{
			width: 33%;
			padding: 0;
			&:nth-last-child(1){
				margin-bottom: 0;
			}
			&:nth-last-child(2){
				margin-bottom: 0;
			}
		}
	}
}
.title_msg1{
	font-size: 34px;
	font-weight: bold;
	color: #fff;
	position: relative;
	white-space: nowrap;
	>span{
		font-size: 18px;
		line-height: 18px;
		position: absolute;
		right: -18px;
		bottom: 6px;
		font-weight: bold;
	}
	@media screen and (max-width: 1600px) {
		font-size: 25px;
	}
	@media screen and (max-width: 1365px) {
		font-size: 18px;
	}
	@media screen and (max-width: 820px) {
		font-size: 24px;
		height: 32px;
		display: flex;
		align-items: center;
	}
}
.title_msg2{
	color: #fff;
	font-size: 16px;
	line-height: 16px;
	margin-top: 8px;
	opacity: 0.9;
	white-space: nowrap;
	@media screen and (max-width: 1600px) {
		font-size: 15px;
	}
	@media screen and (max-width: 1365px) {
		font-size: 14px;
	}
	@media screen and (max-width: 414px) {
		margin-top: 4px;
	}
}
.typeTab{
	width: 100%;
	height: 80px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.2);
	border-top: 1px solid rgb(130,129,135);
	@media screen and (max-width: 820px) {
		height: 70px;
	}
	@media screen and (max-width: 414px) {
		height: 38px;
	}
}
.actTab{
	background-image: linear-gradient(to bottom,rgba(185,6,9,0.45),rgba(185,6,9,0.2) 90%,rgba(0,0,0,0.1));
}
.tabBox{
	width: 80%;
	margin: 0 auto;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	>div{
		border-right: 1px solid rgb(130,129,135);
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		font-size: 18px;
		font-weight: bold;
		&:hover{
			background-image: linear-gradient(to bottom,rgba(185,6,9,0.45),rgba(185,6,9,0.2) 90%,rgba(0,0,0,0.1));
		}

	}
	>div:nth-child(1){
		border-left: 1px solid rgb(130,129,135);
	}
}

// 分类内容
.typeMsgBox{
	width: 100%;
	background-color: rgb(245,245,245);	
	@media screen and (max-width: 820px) {
		background-color: #fff;	
	}
}
// 相关产品
.projectContent{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 18px;
	grid-row-gap: 28px;
	padding: 118px 0;
	overflow-y: hidden;
	// @media screen and (max-width: 1600px) {
	// }
	// @media screen and (max-width: 1365px) {
	// }
	@media screen and (max-width: 820px) {
		width: 100%!important;
		padding: 0;
		background-color: rgb(242,242,242);
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 10px;
		padding-bottom: 10px;
	}
	@media screen and (max-width: 414px) {
		grid-template-columns: 1fr;
	}
	
}
.project_item{
	height: 408px;
	background-color: #fff;
	position: relative;
	cursor: pointer;
	@media screen and (max-width: 414px) {
		height: 468px;
	}
}
.project_txt{
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	left: 8%;
	top: 0px;
	>.project_title{
		font-size: 32px;
	}
	>.project_subtitle{
		font-weight: normal;
		font-size: 16px;
		margin-top: 22px;
		color: rgb(153,153,153);
	}
	@media screen and (max-width: 820px) {
		width: 80%;
		left: 10%;
		height: auto;
		top: 64px;
		>.project_title{
			font-size: 20px;
		}
		>.project_subtitle{
			font-size: 12px;
			margin-top: 14px;
		}
	}
}
.project_line{
	width: 274px;
	height: 3px;
	background-color: rgb(230,230,230);
	margin-top: 24px;
	position: relative;
	&::before{
		content: '';
		width: 64px;
		height: 3px;
		position: absolute;
		top: 0px;
		left: 0px;
		background-color: $redfont;
		transition: all ease 1s;
	}
	@media screen and (max-width: 820px) {
		width: 206px;
	}
}
	

.project_img{
	width: 50%;
	height: 100%;
	float: right;
	position: relative;
	
	overflow: hidden;
	> img{
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
		transition: all ease 0.5s;
		position: absolute;
		display: block;
		// left: 50%;
		// top: 50%;
		// transform: translate(-50%,-50%);
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		margin: auto
	}
	@media screen and (max-width: 820px) {
		width: 66%;
		height: 58%;
		float: none;
		position: absolute;
		bottom: 0%;
		left: 50%;
		transform: translate(-50%,0);
	}
}

.btnMore{
	width: 104px;
	display: flex;
	align-items: center;
	position: relative;
	margin-top: 44px;
	opacity: 0.7;
	transition: all ease 0.5s;
	>span{
		color: rgb(153,153,153);
		font-size: 15px;
		line-height: 15px;
	}
	>img{
		width: 36px;
		position: absolute;
		right: 0px;
		bottom: 1px;
	}
	@media screen and (max-width: 820px) {
		margin-top: 28px;
		>span{
			font-size: 12px;
			line-height: inherit;
		}
		>img{
			width: 28px;
			right: 16px;
		}
	}
}
.project_item:hover{
	>.project_txt{
		>.project_line::before{
			width: 100%;
		}
		>.btnMore{
			opacity: 1;
		}
	}
	>.project_img>img{
		transform: scale(1.1);
	}
	
}
// 优势介绍开始
// 板块1开始
.cplbBg{
	>div{
		cursor: pointer;
	}
	@media screen and (max-width: 820px) {
		position: absolute;
		bottom: 57px;
		left: 10%;
		display: flex;
		flex-direction: column;
		>div{
			margin-bottom: 24px;
			&:nth-child(4){
				margin-bottom: 0;
			}
		}
	}
	@media screen and (max-width: 414px) {
		width: 80%;
		left: 10%;
		>div{
			margin-bottom: 24px;
			&:nth-child(4){
				margin-bottom: 0;
			}
		}
	}
}
.m_bg{
	display: none;
}
.pc_bg{
	display: block;
}
.cplbBox{
	// position: relative;
	display: flex;
	min-width: 960px;
	@media screen and (max-width: 820px) {
		min-width: 100%;
		min-height: 1200px;
	}
	@media screen and (max-width: 414px) {
		min-height: 908px;
	}
	@media screen and (max-width: 380px) {
		min-height: 860px;
	}
}
.cplbContent{
	width: 960px;
	margin: 0 auto;
	position: relative;
	@media screen and (max-width: 820px) {
		width: 100%;
	}
}
.cpBox_left{
	position: absolute;
	text-align: right;
	z-index: 55;
	padding-right: 92px;
}
.cpBox_right{
	position: absolute;
	text-align: left;
	z-index: 55;
	padding-left: 92px;
}
.cpBox_center{
	position: absolute;
	text-align: center;
	z-index: 55;
	padding-top: 50px;
}
.cp_title{
	display: inline-flex;
	align-items: center;
	font-size: 19px;
	color: rgb(51,51,51);;
	padding: 4px 20px;
	border: 1px solid rgb(51,51,51);
	white-space: nowrap;
	transition: all ease 0.3s;
	>i{
		font-size: 24px;
		margin-right: 14px;
	}
	>.icon-touzi{
		font-size: 30px;
	}
	>.icon-shuangzhongyufangjizhi{
		font-size: 21px;
	}
	&:hover{
		border: 1px solid $redfont;
	}
	@media screen and (max-width: 820px) {
		padding: 0 14px;
		height: 28px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-size: 12px;
		>i{
			margin-right: 10px;
		}
		>.icon-module{
			font-size: 22px;
			line-height: inherit;
		}
		>.icon-shuangzhongyufangjizhi{
			font-size: 16px;
			line-height: inherit;
		}
		>.icon-chuneng-shengyuchuneng{
			font-size: 18px;
			line-height: inherit;
		}
		>.icon-touzi{
			font-size: 22px;
			line-height: inherit;
		}
	}
	
}
.cp_subTitle{
	margin-top: 10px;
	font-size: 14px;
	color: #666;
	width: 330px;
	@media screen and (max-width: 820px) {
		font-size: 12px;
	}
	@media screen and (max-width: 414px) {
		width: 100%;
	}
}
.cp_subTitle2{
	margin-top: 10px;
	font-size: 14px;
	color: #666;
	width: 370px;
	@media screen and (max-width: 820px) {
		width: 320px;
		font-size: 12px;
		margin-top: 10px;
	}
	@media screen and (max-width: 414px) {
		width: 100%;
	}
}

.circle_right{
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 1px solid $redfont;
	right: 0px;
	top: 2px;
	
	&::after{
		content: '';
		width: 9px;
		height: 9px;
		background-color: $redfont;
		border-radius: 50%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
}
.circle_left{
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 1px solid $redfont;
	left: 0px;
	top: 2px;
	&::after{
		content: '';
		width: 9px;
		height: 9px;
		background-color: $redfont;
		border-radius: 50%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
}
.circle_right,.circle_left,.circle_center{
	@media screen and (max-width: 820px) {
		display: none;
	}
}
.cpBox_left,.cpBox_right,.cpBox_center{
	@media screen and (max-width: 820px) {
		position:static;
		padding: 0;
		text-align: left;
	}	
}
.cp1{
	top: 27%;
	right: 71.5%;
}
.cp2{
	top: 68%;
	right: 73.5%;
}
.cp3{
	top: 27%;
	left: 71.5%;
}
.cp4{
	top: 68%;
	left: 73.5%;
}
.cpImg{
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	@media screen and (max-width: 820px) {
		height: auto;
		top: 57px;
	}	
}
.cpImgBox{
	width: 600px;
	height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	@media screen and (max-width: 820px) {
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
}
.imgTxt{
	position: absolute;
	left: 39%;
	bottom: 6.5%;
	padding: 4px 26px;
	border: 1px solid rgb(23,23,25);
	border-radius: 20px;
	@media screen and (max-width: 820px) {
		left: 50%;
		transform: translate(-50%,0);
		font-size: 12px;
		padding: 2px 14px;
		bottom: 20%;
	}
	@media screen and (max-width: 414px) {
		bottom: 6.5%;
	}
}
// 板块1结束
// 板块2开始
.bk2Txt{
	position: absolute;
	left: 50%;
	top: 13%;
	transform: translate(-50%,0);
	display: flex;
	flex-direction: column;
	align-items: center;
	@media screen and (max-width: 820px) {
		width: 80%;
		left: 10%;
		top: 57px;
		transform: none;
		>.txt_title1{
			font-size: 20px;
		}
		>.redLine2_normal{
			width: 40px;
			height: 2px;
		}
	}
	
}
.bk2Txt_subtitle{
	max-width: 69%;
	font-size: 16px;
	text-align: center;
	line-height: 28px;
	margin-top: 36px;
	@media screen and (max-width: 820px) {
		max-width: 100%;
		width: 100%;
		font-size: 12px;
		line-height: 20px;
		margin-top: 16px;
	}
}
// 板块2结束
// 板块3开始
// 申请条件
.conditionBox{
	width: 100%;
	padding-top: 160px;
	padding-bottom: 118px;
	@media screen and (max-width: 820px) {
		padding-top: 44px;
		padding-bottom: 0;
	}
}
.conditionMsgBox{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.conditionMsg_title1{
	font-size: 40px;
	font-weight: bold;
	color: rgb(27,27,27);
	line-height: 40px;
	white-space: nowrap;
	@media screen and (max-width: 820px) {
		font-size: 20px;
		line-height: inherit;
	}
}
.conditionMsg_title2{
	font-size: 18px;
	color: #9a9a9a;
	line-height: 18px;
	margin-top: 24px;
}
.conditionImgBox{
	width: 100%;
	height: 512px;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	margin-top: 52px;
	>div{
		height: 100%;
		position: relative;
		transition: all ease .4s;
		&:hover{
			background-size: 110% 110%!important;
		}
	}
	@media screen and (max-width: 820px) {
		height: auto;
		display: flex;
		flex-direction: column;
		margin-top: 30px;
		grid-row-gap: 10px;
		>div{
			height: 300px;
		}
	}
	@media screen and (max-width: 414px) {
		>div{
			height: 170px;
		}
	}
}
.conditionImg_item1{
	background: url('../../../image/project/dnzl/index/02-1.png') center no-repeat;
	background-size: 100% 100%;
	@media screen and (max-width: 820px) {
		background: url('../../../image/project/dnzl/index/m/02-1.jpg') center no-repeat;
		background-size: 100% 100%;
	}
}
.conditionImg_item2{
	background: url('../../../image/project/dnzl/index/02-2.png') center no-repeat;
	background-size: 100% 100%;
	@media screen and (max-width: 820px) {
		background: url('../../../image/project/dnzl/index/m/02-2.jpg') center no-repeat;
		background-size: 100% 100%;
	}
}
.conditionImg_item3{
	background: url('../../../image/project/dnzl/index/02-3.png') center no-repeat;
	background-size: 100% 100%;
	@media screen and (max-width: 820px) {
		background: url('../../../image/project/dnzl/index/m/02-3.jpg') center no-repeat;
		background-size: 100% 100%;
	}
}
.conditionImg_item4{
	background: url('../../../image/project/dnzl/index/02-4.png') center no-repeat;
	background-size: 100% 100%;
	@media screen and (max-width: 820px) {
		background: url('../../../image/project/dnzl/index/m/02-4.jpg') center no-repeat;
		background-size: 100% 100%;
	}
}

.conditionImg_zdc{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: rgba(0,0,0,0.5);
	cursor: pointer;
	&:hover >.conditionImg_zdc_msg{
		// >.conditionImg_msg2{
			
		// 	height: 100px;
		// 	opacity: 1;
		// 	>p{
		// 		display: block;
		// 		top: 9px;
		// 	}
		// }
		>.conditionImg_line::before{
			width: 100%;
		}
	}
}
.conditionImg_zdc_msg{
	position: absolute;
	left: 40px;
	bottom: 46px;
	@media screen and (max-width: 820px) {
		width: 80%;
		left: 10%;
		bottom: 14px;
	}
}
.conditionImg_en{
	margin-top: auto;
	font-size: 16px;
	color: rgb(166,167,169);
	font-weight: bold;
	left: 16px;
	@media screen and (max-width: 820px) {
		font-size: 8px;
	}
}
.conditionImg_title{
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	line-height: 18px;
	margin-top: 10px;
	@media screen and (max-width: 820px) {
		font-size: 14px;
		line-height: inherit;
		margin-top: 0;
	}
}
.conditionImg_line{
	width: 305px;
	height: 2px;
	background-color: rgb(230,230,230);
	margin-top: 16px;
	position: relative;
	&::before{
		content: '';
		width: 68px;
		height: 2px;
		position: absolute;
		top: 0px;
		left: 0px;
		background-color: $redfont;
		transition: all ease 1s;
	}
	@media screen and (max-width: 820px) {
		width: 154px;
		height: 1px;
		margin-top: 8px;
		&::before{
			width: 34px;
			height: 1px;
			background-color: $redfont2;
		}
	}
}

// 板块3结束
// 优势介绍结束
// 下载中心开始
.xzzxBox{
	padding: 118px 0;
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-column-gap:20px;
	>div{
		&:nth-child(1){
			margin-left: 0;
		}
	}
	@media screen and (max-width: 820px) {
		padding: 0;
		padding-top: 57px;
		grid-template-columns: 1fr 1fr;
		>div{
			margin-bottom: 10px;
		}
	}
	@media screen and (max-width: 414px) {
		grid-template-columns: 1fr;
	}
}
.xzContent{
	display: inline-flex;
	position: relative;
}
.xzZdc{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
	display: inline-block;
	&:hover{
		>.xzTxt{
			// >p{
			// 	color: $redfont2;
			// }
		}
		>.xzLogo{
			&::after{
				background-color: $redfont2;
			}
			>i,span{
				color: $redfont2;
			}
		}
	}
}
.xzTxt{
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	margin-top: 10%;
}
.xzTxt_title{
	font-size: 16px;
	color: $redfont2;
	transition: all ease 0.3s;
	@media screen and (max-width: 414px) {
		font-size: 13px;
	}
}
.xzTxt_subTitle{
	font-size: 20px;
	color: rgb(246,246,246);
	font-weight: bold;
	margin-top: 6px;
	transition: all ease 0.3s;
	@media screen and (max-width: 414px) {
		font-size: 18px;
		margin-top: 3px;
	}
}
.xzLogo{
	position: absolute;
	left: 10%;
	bottom: 14%;
	display: inline-flex;
	align-items: center;
	padding-bottom: 7px;
	>i,span{
		color: rgb(246,246,246);
		transition: all ease 0.3s;
	}
	>i{
		font-size: 22px;
	}
	>span{
		font-weight: bold;
		margin-left: 2px;
	}
	&::after{
		content: '';
		width: 97%;
		height: 2px;
		right: 0;
		position: absolute;
		bottom: 0;
		background-color: rgb(246,246,246);
		transition: all ease 0.3s;
		// transform: translate(-50%,0);
	}
}
// 下载中心结束
#contactBox{
	padding-bottom: 120px;
	padding-top: 132px;
	@media screen and (max-width: 820px) {
		padding-top: 52px;
		padding-bottom: 0px;
	}
}
