<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<!-- <base href="http://127.0.0.1:8848/yiyuan/"> -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>工频正弦波逆变器 | 一元电气科技有限公司</title>
		<meta name="description" content="一元科技集团是一家专业从事电源产品开发、生产、营销及服务的高新技术企业。目前公司拥有一元电气科技、浙江一元、温州一元进出口、丽水一元、深圳一元电气、深圳市一元科技、湖北一元科技等十大全资公司。主要生产经营稳压器（AVR）、逆变电源 （INV）、储能逆变一体机、储能变流器（PCS）、集装箱式储能柜、UPS不间断电源、EPS消防应急电源、风力光伏发电系统、变频器、MPPT太阳能控制器、调压器、变压器等系列产品。是国家高新技术企业、中国电气行业十大知名品牌，2017年度中国稳压器十大品牌 。" />
		<meta name="keywords" content="一元电气,一元电气官网,一元电气科技有限公司,一元科技集团官网,深圳一元,深圳一元电气,丽水一元,丽水一元电气,有源滤波器,静止无功发生器,混合型动态无功补偿装置,自动电压调节器,稳压器,储能一体机,储能系统,光储充,电池包,逆变器,太阳能控制器" />
		<link rel="shortcut icon" href="../../../static/favicon.ico" />
		<!-- 公样式 -->
		<link rel="stylesheet" type="text/css" href="../../../static/css/scrollbar.css"/>
		<link rel="stylesheet" type="text/css" href="../../../static/css/public.css" />
		<link rel="stylesheet" type="text/css" href="../../../static/css/header.css" />
		<link rel="stylesheet" type="text/css" href="../../../static/css/footer.css" />
		<!-- 图标 -->
		<link rel="stylesheet" type="text/css" href="../../../static/css/iconfont.css" />
		<!-- 插件样式 -->
		<link rel="stylesheet" type="text/css" href="../../../plugins/animate.css/animate.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../../plugins/element-ui/index.css"/>
		<link rel="stylesheet" type="text/css" href="../../../plugins/swiper-5.4.5/package/css/swiper.min.css" />
		<!-- 页面样式 -->
		<link rel="stylesheet" type="text/css" href="../../../static/css/project/dcgl/hp.css" />
		<script type="text/javascript">
			var level=2;
		</script>
	</head>
	<body>
		<!-- 头部开始 -->
		<yiy-header id="navHead"></yiy-header>
		<!-- 头部结束 -->
		<!-- 页面内容开始 -->
		<div id="appLfp" class="content">
			<!-- banner开始 -->
			<div class="partBox">
				<div class="bgImg">
					<img src="../../../static/image/project/cnwdw/hp/banner.jpg" class="pc_bg" alt="" />
					<img src="../../../static/image/project/cnwdw/hp/m/banner.jpg" class="m_bg" alt="" />
				</div>
				<!-- 轮播开始 -->
				<div class="swiper bannerSwiper">
				  <div class="swiper-wrapper">
				    <div class="swiper-slide" v-for="(item,index) in bannerImg" :key="index">
						<div class="projectImgBox1">
							<img :src="item.img" alt="" class="projectImg">
						</div>
					</div>
				  </div>
				 <!-- <div class=" swiper-pagination">
				  
				  </div> -->
				  <div class="banner_tab">
					  <i class="iconfont icon-qiehuanqizuo" @click="minsSwiperIndex()"></i>
					  <i class="iconfont icon-qiehuanqiyou" @click="addSwiperIndex()"></i>
				  </div>
				</div>
				<!-- 文字板块开始 -->
				<div class="swiperTxtBox">
					<p class="txt_title_en">Pure Sine Wave Inverter/Charger</p>
					<p class="txt_title_big">工频正弦波逆变器</p>
					<p class="subtitle_en" >HP/HP mini/APC/APP/APV/PSW7</p>
					<div class="redline_banner"></div>
				</div>
				<!-- 文字板块结束 -->
				<!-- 轮播结束 -->
			</div>
			<!-- banner结束 -->
			<!-- 不同场景开始 -->
			<div class="btcjTabBox_m">
				<div class="btcjTabContent">
					<div class="btcjTab_left">
						<p class="txt_title1 see_fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">多种结构，适用不同的场景</p>
						<div class="redLine_left see_fadeInUpLine" data-wow-duration="1s" data-wow-delay="0.3s"></div>
					</div>
					<div class="btcjTab_right">
						<div :class="btcjIndex==0?'btcjItem actBtcjItem':'btcjItem'" @click="changeCjIndex(0,1)">
							<i class="iconfont icon-fangzi"></i>
							<span>家用/办公</span>
						</div>
						<div :class="btcjIndex==1?'btcjItem actBtcjItem':'btcjItem'" @click="changeCjIndex(1,2)">
							<i class="iconfont icon-youting"></i>
							<span>房车/游艇</span>
						</div>
						<div :class="btcjIndex==2?'btcjItem actBtcjItem':'btcjItem'" @click="changeCjIndex(2,3)">
							<i class="iconfont icon-16-yitijiguanli"></i>
							<span>一体机</span>
						</div>
						<div :class="btcjIndex==3?'btcjItem actBtcjItem':'btcjItem'" @click="changeCjIndex(3,4)">
							<i class="iconfont icon-bangongshebei"></i>
							<span>办公设备</span>
						</div>
					</div>
				</div>
			</div>
			<div class="btcjImgBox" style="position: relative;">
				<div class="swiper cjSwiper">
				  <div class="swiper-wrapper">
					<div class="swiper-slide" v-for="(item,index) in btcjImg" :key="index">
						<img :src="item.img" alt="" class="pc_bg">
						<img :src="item.img_m" alt="" class="m_bg" style="width: 100%;">
					</div>
				  </div>
				</div>
			</div>
			<div class="btcjTabBox">
				<div class="btcjTabContent">
					<div class="btcjTab_left">
						<p class="txt_title1 see_fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">适用多种场景</p>
						<div class="redLine_left see_fadeInUpLine" data-wow-duration="1s" data-wow-delay="0.3s"></div>
					</div>
					<div class="btcjTab_right">
						<div :class="btcjIndex==0?'btcjItem actBtcjItem':'btcjItem'" @click="changeCjIndex(0,1)">
							<i class="iconfont icon-fangzi"></i>
							<span>家用</span>
						</div>
						<div :class="btcjIndex==1?'btcjItem actBtcjItem':'btcjItem'" @click="changeCjIndex(1,2)">
							<i class="iconfont icon-youting"></i>
							<span>房车/游艇</span>
						</div>
						<div :class="btcjIndex==2?'btcjItem actBtcjItem':'btcjItem'" @click="changeCjIndex(2,3)">
							<i class="iconfont icon-taiyangneng"></i>
							<span>太阳能系统</span>
						</div>
						<div :class="btcjIndex==3?'btcjItem actBtcjItem':'btcjItem'" @click="changeCjIndex(3,4)">
							<i class="iconfont icon-bangongshebei"></i>
							<span>办公设备</span>
						</div>
					</div>
				</div>
			</div>
			<!-- 不同场景结束 -->
			<!-- 产品接线图开始 -->
			<div class="partBox">
				<div class="bgImg cpjxtBg">
					<img src="../../../static/image/project/cnwdw/hp/bg1.jpg" class="blockImg" alt="">
				</div>
				<div class="cpjxt_txt_m">
					<p class="txt_title1">产品接线图</p>
					<div class="redLine_normal"></div>
				</div>
				<div class="cpjxtBox">
					<div class="cpjxt_img">
						<img src="../../../static/image/project/cnwdw/hp/p1.png" alt="" class="blockImg">
						<div class="cpjxt_txt">
							<p class="txt_title1">产品接线图</p>
							<div class="redLine_normal"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- 产品接线图结束 -->
			<!-- 系列开始 -->
			<div class="partBox">
				<div class="bgImg">
					<img src="../../../static/image/project/cnwdw/hp/bg2.jpg" class="blockImg" alt="">
				</div>
				<div class="xlBox">
					<!-- 左边内容开始 -->
					<div class="xl_leftBox">
						<div class="left_msgBox">
							<p class="txt_title1">{{xlMsg[xlMsgIndex].name}}</p>
							<div class="left_msgBox_redline"></div>
							<div class="left_msgBox_canshuBox">
								<div class="canshuItem" v-for="(item_cs,index_cs) in xlMsg[xlMsgIndex].canshu" :key="index_cs">
									<span class="canshu_title">{{item_cs.name}}</span>
									<span class="canshu_value">{{item_cs.val}}</span>
								</div>
							</div>
						</div>
						<div class="switchBox" >
							<div :class="xlMsgIndex>0?'switch_left actBox':'switch_left'" @click="reduceXlIndex()">
								<i class="iconfont icon-fanhui"></i>
							</div>
							<div :class="xlMsgIndex < (xlMsg.length-1)?'switch_right actBox':'switch_right'"  @click="addXlIndex()">
								<i class="iconfont icon-gengduo"></i>
							</div>
						</div>
					</div>
					<!-- 左边内容结束 -->
					<div class="selectBox_m">
						<div :class="xlMsgIndex>0?' switch_l_m actBox':' switch_l_m'" @click="reduceXlIndex()">
							<i class="iconfont icon-fanhui"></i>
						</div>
						<div :class="xlMsgIndex < (xlMsg.length-1)?' switch_r_m actBox':' switch_r_m'"  @click="addXlIndex()">
							<i class="iconfont icon-gengduo"></i>
						</div>
					</div>
					<!-- 图片板块开始 -->
					<div class="swiper xlSwiper swiper-no-swiping">
					  <div class="swiper-wrapper">
					    <div class="swiper-slide" v-for="(item,index) in xlMsg" :key="index">
							<div class="xlImgBox">
								<img :src="item.img" alt="" :class="item.isBig?'projectImg_big':'projectImg'">
							</div>
						</div>
					  </div>
					</div>
					<!-- 图片板块结束 -->
				</div>
			</div>
			<div class="xlmsgBox_m">
				<div class="left_msgBox">
					<p class="txt_title1">{{xlMsg[xlMsgIndex].name}}</p>
					<div class="left_msgBox_redline"></div>
					<div class="left_msgBox_canshuBox">
						<div class="canshuItem" v-for="(item_cs,index_cs) in xlMsg[xlMsgIndex].canshu" :key="index_cs">
							<span class="canshu_title">{{item_cs.name}}</span>
							<span class="canshu_value">{{item_cs.val}}</span>
						</div>
					</div>
				</div>
			</div>
			<!-- 系列结束 -->
			
		</div>
		<!-- 页面内容结束 -->
		<!-- 联系我们开始 -->
		<div class="box100"  id="contactBox">
			<div class="contactBox">
				<div class="contact_left see_fadeInLeft">
					<p class="contact_title">联系我们</p>
					<div class="redLine_contact"></div>
					<p class="contact_txt">如果您有任何的需要，请随时与我们联系。</p>
					<div class="inputBox">
						<div class="inputItem ">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的姓名" v-model="userName" />
						</div>
						<div class="inputItem">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的公司" v-model="userCompany"/>
						</div>
						<div class="inputItem">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的电话" v-model="userPhone"/>
						</div>
						<div class="inputItem">
							<i class="iconfont icon-xinghao"></i>
							<input type="text" placeholder="您的邮箱" v-model="userMail"/>
						</div>
					</div>
					<div class="liuyan">
						<i class="iconfont icon-xinghao"></i>
						<textarea rows="" cols="" placeholder="请输入留言内容" v-model="userLy"></textarea>
					</div>
					<div class="btn_liuyan" @click="subLy()">提交留言</div>
				</div>
				<div class="contact_right see_fadeInRight">
					<div class="contactTypeBox">
						<div class="telBox">
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon">
									<i class="iconfont icon-phone"></i>
								</div>
								<div class="contactTypeItem_msg">
									<p>销售热线</p>
									<p>{{telMsg.rexian}}</p>
								</div>
							</div>
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon">
									<i class="iconfont icon-yunchuanzhen"></i>
								</div>
								<div class="contactTypeItem_msg">
									<p>公司传真</p>
									<p>{{telMsg.chuanzhen}}</p>
								</div>
							</div>
						</div>
						<div class="addressBox">
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon">
									<i class="iconfont icon-dingweixiao"></i>
								</div>
								<div class="contactTypeItem_msg">
									<p>{{addressMsg[0].name}}</p>
									<p>{{addressMsg[0].add}}</p>
								</div>
							</div>
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon" style="opacity: 0;">
									<!-- <i class="iconfont icon-zuoji"></i> -->
								</div>
								<div class="contactTypeItem_msg">
									<p>{{addressMsg[1].name}}</p>
									<p>{{addressMsg[1].add}}</p>
								</div>
							</div>
							<div class="contactTypeItem">
								<div class="contactTypeItem_icon" style="opacity: 0;">
									<!-- <i class="iconfont icon-zuoji"></i> -->
								</div>
								<div class="contactTypeItem_msg">
									<p>{{addressMsg[2].name}}</p>
									<p>{{addressMsg[2].add}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 联系我们结束 -->
		<!-- 去顶部按钮 -->
		<div class="toTopBtn" onclick="toTop()">
			<i class="iconfont icon-huidaodingbu"></i>
		</div>
		<!-- 底部开始 -->
		<yiy-footer id="navFooter"></yiy-footer>
		<!-- 底部结束 -->
		<!-- 脚本引入开始 -->
		<!-- 公共方法 -->
		<script src="../../../static/js/common.js" type="text/javascript" charset="utf-8"></script>
		<!-- 插件引入 -->
		<script src="../../../plugins/vue/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../plugins/element-ui/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../plugins/wow/wow.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../plugins/swiper-5.4.5/package/js/swiper.min.js" type="text/javascript" charset="utf-8">
		</script>
		<!-- 页面脚本引入 -->
		<script src="../../../static/js/header_new_l2.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../static/js/footer_l2.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../static/js/project/cnwdw/hp.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../static/js/public.js" type="text/javascript" charset="utf-8"></script>
		<!-- 脚本引入结束 -->
	</body>
</html>
